*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Lato, sans-serif;
}
header{
    background-color: #03979d;
    height: 4.75vh;
}
#header_button{
    background-color: #0c2e40;
    color: white;
    position: absolute;
    width: 10vw;
    height: 4.75vh;
    left: 88vw;
    border: none;
}
#pre_nav{
    background-color: #00000011;
    height: 25.5vh;
}
#logoAndName{
    position: absolute;
    height: 26vh;
    left: 6vw;
    top: 4.3vh;
}
#name_pre_nav{
    position: absolute;
    left: 27vw;
    top: 14vh;
    font-size: 4.5vh;
    width: 41vw;
    color: #0c2e40;
    font-family: "fibra one", sans-serif;
    line-height: 44px;
}
#bandeira_brasil{
    position: absolute;
    left: 85vw;
    top: 13vh;
}
.nav-top{
    background-color: #0c2e40;
    height: 60px; 
}
.nav-fixed {
    position: fixed;
    background-color: #0c2e40;
    width: 100%;
    height: 60px;
    top: 0vh;
    z-index: 10000;
}
#button_media{
    display: none;
    margin-top: 1vh;
    border: none;
    background-color: #0c2e40;
}
#ul_nav {
    display: flex;
    position: absolute;
    left: 6vw;
}
.li {
    display: flex;
    font-size: 1.5vh;
    height: 60px;
}
.search-input{
    display: none;
}
.search-button{
    display: none;
}
.li:hover {
    background-color: white;
}
a {
    text-decoration: none; 
    color: white;
    margin: 20px;
}
#li_1:hover #inverseVNav_1,
#li_2:hover #inverseVNav_2,
#li_3:hover #inverseVNav_3,
#li_4:hover #inverseVNav_4,
#li_5:hover #inverseVNav_5 {
    stroke: black;
}
#li_1:hover a,
#li_2:hover a,
#li_3:hover a,
#li_4:hover a,
#li_5:hover a,
#li_6:hover a,
#li_7:hover a {
    color: black;
}
.active {
    background-color: white !important;
}
.active a {
    color: black !important;
}
.inverse-active {
    stroke: black !important;
}
.button_nav {
    background-color: #0c2e40;
    color: white;
    position: relative;
    width: 10vw;
    height: 45px;
    left: 84vw;
    top: 8px;
    font-size: 1.5vh;
    border-style: solid;
    border-color: white;
    border-radius: 3px;
    border-width: 1px;
}
.button_nav:hover {
    background-color: white;
    color: black;
    transition: color 0.3s;
}
.button_nav_fixed{
    background-color: #0c2e40;
    color: white;
    position: fixed;
    width: 10vw;
    height: 45px;
    left: 84vw;
    top: 8px;
    font-size: 1.5vh;
    border-style: solid;
    border-color: white;
    border-radius: 3px;
    border-width: 1px;
}
.button_nav_fixed:hover {
    background-color: white;
    color: black;
    transition: color 0.3s;
}
#img_noticias_nav{
    background-color: #03979d;
    width: 100%;
    height: 45vh;
}
#implementar{
    height: 38vh;
    background: linear-gradient(170deg, white, #00000011);
}
#title_implementar{
    color: #0c2e40;
    position: absolute;
    top: 50vh;
    left: 6vw;
}
#img_implementar{
    position: absolute;
    height: 38vh;
    left: 70.25vw;
    background-size: cover;
    clip-path: polygon(25% 0, 100% 0, 100% 100%, 0 100%);
}
#central{
    height: 550vh;
}
.p_central{
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
    margin-left: 6vw;
    margin-top: 10vh;
    color: #252525;
    width: 87vw;
}
#box{
    width: 87vw;
    height: 7vh;
    margin-top: 7vh;
    margin-left: 7.6vw;
    display: flex;
}
.box2{
    width: 89vw;
    height: 43vh;
    margin-left: 6vw;
    display: flex;
}
.mini_box{
    height: 100%;
    width: 20%;
    border: 0.5px solid rgba(0, 0, 0, 0.26);
    display: flex;
    margin-top: 0vh;
    margin-left: -3.1vh;
}
.svg_div{
    margin-top: 2vh;
    margin-left: 2vw;
}
.categoria{
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    color: #252525;
    margin-top: 2.5vh;
    margin-left: 2vw;
}
.mini_box:hover{
    background-color: #0c2e40;
    transition: background-color 0.3s;
}
.mini_box:hover .categoria{
    color: white;
    transition: color 0.3s;
}
.mini_box:hover #svg{
    fill: white;
}
h1{
    font-size: 24px;
    line-height: 24px;
    margin-left: 6vw;
    margin-top: 8vh;
    margin-bottom: 2.5vh;
}
.mini_box2{
    height: 100%;
    width: 30%;
    border: 0.5px solid rgba(0, 0, 0, 0.26);
    margin-top: 0vh;
}
.h2_mini_box2{
    font-family: Lato;
    font-size: 19.2px;
    line-height: 28.8px;
    color: #111111;
    font-weight: 500;
    width: 20vw;
    margin-top: 4vh;
    margin-left: 3vw;
}
.data_mini_box2{
    font-family: Lato;
    font-size: 14.4px;
    line-height: 21.6px;
    color: #11111179;
    font-weight: 500;
    width: 20vw;
    margin-top: 0vh;
    margin-left: 3vw;
}
.p_mini_box2{
    font-family: Lato;
    font-size: 16px;
    line-height: 24px;
    color: #111111;
    font-weight: 500;
    width: 22vw;
    margin-top: 0vh;
    margin-left: 3vw;
}
.a_mini_box2{
    font-family: Lato;
    font-size: 16px;
    line-height: 24px;
    color: #03979d;
    font-weight: 500;
    width: 22vw;
    margin-top: 0vh;
    margin-left: 3vw;
    text-decoration: underline;
}
.a_mini_box2:hover{
    color: #111111;
    text-decoration: none;
}
footer{
    height: 25vh;
    background-color: #0c2e40;    
}
#div1_footer{
    display: flex;
}
#div2_footer{
    display: flex;
}
#img_footer{
    margin-top: 1vh;
}
#img_footer_2{
    margin-top: 1.3vh;
}
#img_footer_3{
    margin-top: 1.15vh;
}
#button_footer{
    background-color: #ffc300;
    color: #4d697e;
    font-size: 1.5vh;
    font-weight: 15px;
    margin-left: 74vw;
    margin-top: 2vh;
    width: 200px;
    height: 55px;
    border-color: #ffc300;
    border-style: solid;
    border-radius: 4px;
}
#button_footer:hover{
    background-color: #0c2e40;
    color: #ffc300;
    transition: color 0.3s;
    transition: 0.2s;
}
#enfeite_footer{
    width: 93vw;
    height: 0.2vh;
    background-color: white;
    margin-top: 5vh;
    margin-left: 2vw;
}
#direitos_reservados{
    color: #4d697e;
    font-size: 1.5vh;
    line-height: 12px;
    margin-top: 3vh;
    margin-left: 2vw;
}
#rafael_ferr{
    color: #4d697e;
    font-size: 1.5vh;
    line-height: 12px;
    margin-top: 3vh;
    margin-left: 60vw;
}