*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Lato, sans-serif;
}
header{
    background-color: #03979d;
    height: 4.75vh;
}
#header_button{
    background-color: #0c2e40;
    color: white;
    position: absolute;
    width: 10vw;
    height: 4.75vh;
    left: 88vw;
    border: none;
}
#pre_nav{
    background-color: #00000011;
    height: 25.5vh;
}
#logoAndName{
    position: absolute;
    height: 26vh;
    left: 6vw;
    top: 4.3vh;
}
#name_pre_nav{
    position: absolute;
    left: 25vw;
    top: 12vh;
    width: 41vw;
    color: #0c2e40;
    font-family: "fibra one", sans-serif;
    line-height: 44px;
}
#bandeira_brasil{
    position: absolute;
    left: 85vw;
    top: 10vh;
}
.nav-top{
    background-color: #0c2e40;
    height: 9vh;
}
.nav-fixed {
    position: fixed;
    background-color: #0c2e40;
    width: 100%;
    height: 9vh;
    top: 0vh;
    z-index: 10000;
}
#ul_nav {
    display: flex;
    position: absolute;
    left: 6vw;
}
.li {
    display: flex;
    font-size: 13.6px;
    height: 9vh;
}
.li:hover {
    background-color: white;
}
a {
    text-decoration: none; 
    color: white;
    margin: 20px;
}
.li:hover a {
    color: black;
    transition: color 0.3s;
}
.li:hover #inverseVNav {
    stroke: black;
}
.button_nav {
    background-color: #0c2e40;
    color: white;
    position: absolute;
    width: 10vw;
    height: 6.5vh;
    left: 77vw;
    top: 31.5vh;
    font-size: 15px;
    border-style: solid;
    border-color: white;
    border-radius: 3px;
    border-width: 1px;
}
.button_nav:hover {
    background-color: white;
    color: black;
    transition: color 0.3s;
}
.button_nav_fixed{
    background-color: #0c2e40;
    color: white;
    position: fixed;
    width: 10vw;
    height: 6.5vh;
    left: 77vw;
    top: 1.25vh;
    font-size: 15px;
    border-style: solid;
    border-color: white;
    border-radius: 3px;
    border-width: 1px;
}
.button_nav_fixed:hover {
    background-color: white;
    color: black;
    transition: color 0.3s;
}
#img_noticias_nav{
    background-color: #03979d;
    width: 100%;
    height: 45vh;
}
#implementar{
    height: 28vh;
    background: linear-gradient(170deg, white, #00000011);
}
#title_implementar{
    color: #0c2e40;
    position: absolute;
    top: 50vh;
    left: 6vw;
}
#img_implementar{
    position: absolute;
    height: 28vh;
    left: 76.6vw;
}
#central{
    height: 200vh;
}
#div1_central{
    margin-top: 10vh;
    margin-left: 6.5vw;
}
.p1{
    color: #252525;
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
    width: 58vw;

}




footer{
    height: 25vh;
    background-color: #0c2e40;    
}
#div1_footer{
    display: flex;
}
#div2_footer{
    display: flex;
}
#img_footer{
    margin-top: 0vh;
}
#img_footer_2{
    margin-top: 0.3vh;
}
#img_footer_3{
    margin-top: 0.15vh;
}
#button_footer{
    background-color: #ffc300;
    color: #4d697e;
    font-size: 15px;
    font-weight: 15px;
    margin-left: 69vw;
    margin-top: 4vh;
    width: 10vw;
    height: 6vh;
    border-color: #ffc300;
    border-style: solid;
    border-radius: 4px;
}
#button_footer:hover{
    background-color: #0c2e40;
    color: #ffc300;
    transition: color 0.3s;
    transition: 0.2s;
}
#enfeite_footer{
    width: 95vw;
    height: 0.2vh;
    background-color: white;
    margin-top: 5vh;
    margin-left: 2vw;
}
#direitos_reservados{
    color: #4d697e;
    font-size: 12px;
    line-height: 12px;
    margin-top: 3vh;
    margin-left: 2vw;
}
#rafael_ferr{
    color: #4d697e;
    font-size: 12px;
    line-height: 12px;
    margin-top: 3vh;
    margin-left: 58.9vw;
}