*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Lato, sans-serif;
}
header{
    background-color: #03979d;
    height: 4.75vh;
}
#header_button{
    background-color: #0c2e40;
    color: white;
    position: absolute;
    width: 10vw;
    height: 4.75vh;
    left: 88vw;
    border: none;
}
#pre_nav{
    background-color: #00000011;
    height: 25.5vh;
}
#logoAndName{
    position: absolute;
    height: 26vh;
    left: 6vw;
    top: 4.3vh;
}
#name_pre_nav{
    position: absolute;
    left: 25vw;
    top: 5vh;
    width: 41vw;
    color: #0c2e40;
    font-family: "fibra one", sans-serif;
    line-height: 44px;
}
#bandeira_brasil{
    position: absolute;
    left: 85vw;
    top: 10vh;
}
.nav-top{
    background-color: #0c2e40;
    height: 9vh;
}
.nav-fixed {
    position: fixed;
    background-color: #0c2e40;
    width: 100%;
    height: 9vh;
    top: 0vh;
    z-index: 10000;
}
#ul_nav {
    display: flex;
    position: absolute;
    left: 6vw;
}
.li {
    display: flex;
    font-size: 13.6px;
    height: 9vh;
}
.li:hover {
    background-color: white;
}
a {
    text-decoration: none; 
    color: white;
    margin: 20px;
}
.li:hover a {
    color: black;
    transition: color 0.3s;
}
.li:hover #inverseVNav {
    stroke: black;
}
.button_nav {
    background-color: #0c2e40;
    color: white;
    position: absolute;
    width: 10vw;
    height: 6.5vh;
    left: 77vw;
    top: 31.5vh;
    font-size: 15px;
    border-style: solid;
    border-color: white;
    border-radius: 3px;
    border-width: 1px;
}
.button_nav:hover {
    background-color: white;
    color: black;
    transition: color 0.3s;
}
.button_nav_fixed{
    background-color: #0c2e40;
    color: white;
    position: fixed;
    width: 10vw;
    height: 6.5vh;
    left: 77vw;
    top: 1.25vh;
    font-size: 15px;
    border-style: solid;
    border-color: white;
    border-radius: 3px;
    border-width: 1px;
}
.button_nav_fixed:hover {
    background-color: white;
    color: black;
    transition: color 0.3s;
}
#img_noticias_nav{
    background-color: #03979d;
    width: 100%;
    height: 45vh;
}
#central{
    height: 150vh;
    display: flex;
}
#central_1{
    height: 100%;
    width: 30vw;
    background-color: #fbfbfb;
}
h1{
    color: #0c2e40;
    font-size: 24px;
    line-height: 24px;
    margin-top: 8vh;
    margin-left: 2vw;
    margin-bottom: 3vh;
}
.p_noticias{
    color: #252525;
    font-size: 16px;
    line-height: 24px;
    margin-left: 2vw;
    margin-bottom: 3vh;
    text-align: left;
    width: 28vw;

}
  .search-input {
    width: 27vw;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: none;
    box-sizing: border-box;
    color: #333;
    margin-left: 2vw;
  }
  .search-input::placeholder {
    color: #ccc;
  }
  .search-button {
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-top: -3vh;
    margin-left: 26.3vw;
  }
  #central_1 .search-button{
    display: flex;
  }
  .search-button img {
    width: 100%;
    height: auto;
  }
  #categorias{
    margin-top: 2vh;
  }
  .a_central_1{
    color: black;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    margin-left: 0vw;
    width: 27vw;
    
  }
  .div_a{
    margin-left: 2vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
    border-bottom: 2px solid #ccc;
    width: 27vw;
  }
#central_2{
    height: 100%;
    width: 60vw;
}
#featured_post{
    height: 50vh;
    width: 100%;
    display: flex;
    margin-left: 5vw;
    margin-top: 2vh;
    
}
.img_div{
    height: 40vh;
    width: 20vw;
    margin-right: 2vw;
    background-color: #0000007c;
    border-radius: 4.2px;
    background-image: url("/images/freepik-export-202405151324536B3r.jpeg");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    filter: brightness(70%);
}
.p_img_div{
    color: white;
    margin-left: 2vw;
    margin-top: 35vh;
}
#title_central_2{
    height: 5vh;
    width: 100%;
    display: flex;
    margin-left: 5vw;
    margin-top: 4vh;
}
#title_1{
    FONT-FAMILY:lato;
    FONT-SIZE: 20.8px;
    LINE-HEIGHT:31.2px;
    color: #333333;
    font-weight: 600;
}
#enfeite_1{
    FONT-FAMILY:lato;
    FONT-SIZE: 20.8px;
    LINE-HEIGHT:31.2px;
    color: #333333;
    margin-left: 3vh;
    font-weight: 600;
}
#box_central_2{
    height: 50vh;
    width: 100%;
    display: flex;
    margin-left: 5vw;
    margin-top: 4vh;
}
.box{
    height: 40vh;
    width: 20vw;
    margin-right: 2vw;
    border-radius: 4.2px;
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.11);
}
.box_title{
    display: flex;
}
.img_box{
    width: 2.5vw;
    margin-top: 1vh;
    margin-left: 1vw;
}
.p_box{
    margin-top: 1.5vh;
    margin-left: 1vw;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
}
.a_box{
    color: #0c2e40;
}
.margin{
    margin-top: 4vh;
}
.div_box{
    width: 100%;
    margin-top: 28vh;
    background-color: #f0f0f0;
    height: 6.2vh;
}
.div_box:hover{
    border-bottom: 1px solid #0c2e40;
}


  footer{
    height: 25vh;
    background-color: #0c2e40;    
}
#div1_footer{
    display: flex;
}
#div2_footer{
    display: flex;
}
#img_footer{
    margin-top: 0vh;
}
#img_footer_2{
    margin-top: 0.3vh;
}
#img_footer_3{
    margin-top: 0.15vh;
}
#button_footer{
    background-color: #ffc300;
    color: #4d697e;
    font-size: 15px;
    font-weight: 15px;
    margin-left: 69vw;
    margin-top: 4vh;
    width: 10vw;
    height: 6vh;
    border-color: #ffc300;
    border-style: solid;
    border-radius: 4px;
}
#button_footer:hover{
    background-color: #0c2e40;
    color: #ffc300;
    transition: color 0.3s;
    transition: 0.2s;
}
#enfeite_footer{
    width: 95vw;
    height: 0.2vh;
    background-color: white;
    margin-top: 5vh;
    margin-left: 2vw;
}
#direitos_reservados{
    color: #4d697e;
    font-size: 12px;
    line-height: 12px;
    margin-top: 3vh;
    margin-left: 2vw;
}
#rafael_ferr{
    color: #4d697e;
    font-size: 12px;
    line-height: 12px;
    margin-top: 3vh;
    margin-left: 58.9vw;
}