*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Lato, sans-serif;
}
header{
    background-color: #03979d;
    height: 4.75vh;
}
#header_button{
    background-color: #0c2e40;
    color: white;
    position: absolute;
    width: 10vw;
    height: 4.75vh;
    left: 88vw;
    border: none;
}
#pre_nav{
    background-color: #00000011;
    height: 25.5vh;
}
#logoAndName{
    position: absolute;
    height: 26vh;
    left: 6vw;
    top: 4.3vh;
}
#name_pre_nav{
    position: absolute;
    left: 27vw;
    top: 14vh;
    font-size: 4.5vh;
    width: 41vw;
    color: #0c2e40;
    font-family: "fibra one", sans-serif;
    line-height: 44px;
}
#bandeira_brasil{
    position: absolute;
    left: 85vw;
    top: 13vh;
}
.nav-top{
    background-color: #0c2e40;
    height: 60px; 
}
.nav-fixed {
    position: fixed;
    background-color: #0c2e40;
    width: 100%;
    height: 60px;
    top: 0vh;
    z-index: 10000;
}
#button_media{
    display: none;
    margin-top: 1vh;
    border: none;
    background-color: #0c2e40;
}
#ul_nav {
    display: flex;
    position: absolute;
    left: 6vw;
}
.li {
    display: flex;
    font-size: 1.5vh;
    height: 60px;
}
.search-input{
    display: none;
}
.search-button{
    display: none;
}
.li:hover {
    background-color: white;
}
a {
    text-decoration: none; 
    color: white;
    margin: 20px;
}
#li_1:hover #inverseVNav_1,
#li_2:hover #inverseVNav_2,
#li_3:hover #inverseVNav_3,
#li_4:hover #inverseVNav_4,
#li_5:hover #inverseVNav_5 {
    stroke: black;
}
#li_1:hover a,
#li_2:hover a,
#li_3:hover a,
#li_4:hover a,
#li_5:hover a,
#li_6:hover a,
#li_7:hover a {
    color: black;
}
.active {
    background-color: white !important;
}
.active a {
    color: black !important;
}
.inverse-active {
    stroke: black !important;
}
.button_nav {
    background-color: #0c2e40;
    color: white;
    position: relative;
    width: 10vw;
    height: 45px;
    left: 84vw;
    top: 8px;
    font-size: 1.5vh;
    border-style: solid;
    border-color: white;
    border-radius: 3px;
    border-width: 1px;
}
.button_nav:hover {
    background-color: white;
    color: black;
    transition: color 0.3s;
}
.button_nav_fixed{
    background-color: #0c2e40;
    color: white;
    position: fixed;
    width: 10vw;
    height: 45px;
    left: 84vw;
    top: 8px;
    font-size: 1.5vh;
    border-style: solid;
    border-color: white;
    border-radius: 3px;
    border-width: 1px;
}
.button_nav_fixed:hover {
    background-color: white;
    color: black;
    transition: color 0.3s;
}
#img_noticias_nav{
    background-color: #03979d;
    width: 100%;
    height: 45vh;
}
#programa{
    background-color: #00000011;
    height: 92vh;
}
#titulo_programa{
    color: #0c2e40;
    font-family: Lato, sans-serif;
    font-size: 3.5vh;
    position: absolute;
    top: 92.5vh;
    left: 7.5vw;
    text-align: start;
    line-height: 35.2px;
}
#enfeite_titulo_programa{
    position: relative;
    top: 23vh;
    left: 7.5vw;
    height: 0.35vh;
    width: 5vw;
    background-color: #333333;
}
#conteudo_programa{
    color: #0c2e40;
    font-family: Lato, sans-serif;
    font-size: 2vh;
    position: absolute;
    top: 102vh;
    left: 7.5vw;
    width: 45vw;
    text-align: justify;
    line-height: 24px;
}
#button_programa{
    color: #0c2e40;
    font-family: Lato, sans-serif;
    font-size: 1.7vh;
    position: absolute;
    top: 155vh;
    left: 7.5vw;
    width: 12vw;
    height: 55px;
    text-align: center;
    line-height: 15px;
    border-radius: 27.5px;
    border-color: #0c2e40;
    border-style: solid;
    font-weight: 900;
}
#button_programa:hover{
    background-color: #0c2e40;
    color: white;
    transition: color 0.3s;
}
#programa_logo{
    position: absolute;
    top: 115vh;
    left: 62.5vw;
    width: 12vw;
}
#programa_minhaCasa{
    position: absolute;
    top: 115vh;
    left: 77vw;
    width: 9vw;
}
#programa_caixa{
    position: absolute;
    top: 138vh;
    left: 69vw;
    width: 12vw;
}
#projetos{
    height: 120vh;
    border-bottom-color: rgba(0, 0, 0, 0.308);
    border-bottom-width: 0.5px;
    border-bottom-style: solid;
}
#estruturas_e_tipos{
    position: absolute;
    top: 173.5vh;
    margin-left: 45vw;
    font-size: 1.7vh;
    line-height: 16px;
    color: #2d2d2d6b;
}
#projetos_titulo{
    color: #0c2e40;
    font-family: Lato, sans-serif;
    font-size: 3.5vh;
    position: absolute;
    top: 178vh;
    margin-left: 46.2vw;
    text-align: start;
    line-height: 35.2px;
}
#enfeite_projetos{
    position: relative;
    top: 13.5%;
    margin-left: 46.6vw;
    height: 0.3vh;
    width: 7vw;
    background-color: #333333;
}
#conteudo_projetos{
    color: #000000ab;
    font-family: Lato, sans-serif;
    font-size: 2vh;
    position: absolute;
    top: 188vh;
    left: 12.5vw;
    width:72vw;
    text-align: center;
    line-height: 24px;
}
#box_projetos{
    position: absolute;
    top: 205vh;
    left: 12.5vw;
    width:72vw;
    height: 74vh;
}
#box_projetos2_h1{
    color: #2b2b2b;
     position: relative; 
     left: 8vw; 
     top: 3vh;
}
#box_projetos2_h2{
    color: #2b2b2b; 
    position: relative; 
    left: 7.7vw; 
    top: 3vh;
}
#box_projetos2_h3{
    color: #2b2b2b; 
    position: relative; 
    left: 8vw; 
    top: 3.2vh;
}
#box_projetos2_p1{
    color: #2b2b2b; 
    font-size: 2vh; 
    position: absolute; 
    left: 0vw; 
    top: 25vh; 
    text-align: center; 
    width: 20vw;
}
#box_projetos2_p2{
    color: #2b2b2b; 
    font-size: 2vh; 
    position: absolute; 
    left: 0vw; 
    top: 25vh; 
    text-align: center; 
    width: 20vw;
}
#box_projetos2_p3{
    color: #2b2b2b; 
    font-size: 2vh; 
    position: absolute; 
    left: 0vw; 
    top: 25vh; 
    text-align: center; 
    width: 20vw;
}
#box_projetos2_a1{
    color: #0c2e40; 
    font-weight: 550; 
    text-decoration-style: solid; 
    text-decoration-color: #0c2e40; 
    text-decoration-line:underline; 
    line-height: 16px; 
    font-size: 1.5vh; 
    position: relative; 
    left: 6.3vw; 
    top: 44vh; 
    text-align: center;
}
#box_projetos2_a2{
    color: #0c2e40; 
    font-weight: 550; 
    text-decoration-style: solid; 
    text-decoration-color: #0c2e40; 
    text-decoration-line:underline; 
    line-height: 16px; 
    font-size: 1.5vh; 
    position: relative; 
    left: 6.3vw; 
    top: 44vh;  
    text-align: center;
}
#box_projetos2_a3{
    color: #0c2e40; 
    font-weight: 550; 
    text-decoration-style: solid; 
    text-decoration-color: #0c2e40; 
    text-decoration-line:underline; 
    line-height: 16px; 
    font-size: 1.5vh; 
    position: relative; 
    left: 6.3vw; 
    top: 44vh; 
    text-align: center;
}
#box_projetos1{
    position: absolute;
    width:20vw;
    height: 73vh;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.144);
    border-radius: 6px;
    border-width: 0.1px;
}
#box_projetos2{
    position: absolute;
    left: 26vw;
    width:20vw;
    height: 73vh;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.144);
    border-radius: 6px;
    border-width: 0.1px;
}
#box_projetos3{
    position: absolute;
    left: 51.5vw;
    width:20vw;    
    height: 73vh;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.144);
    border-radius: 6px;
    border-width: 0.1px;
}
#chapeu{
    position: relative;
    left: 30%;
    top: 2vh;
}
#agenda{
    position: relative;
    left: 30%;
    top: 2vh;
}
#desenho{
    position: relative;
    left: 30%;
    top: 2vh;
}
#pq_participar{
    height: 115vh;
    display: flex;
}
#pq_participar_1{
    width: 50vw;
    height: 100%;
}
#pq_participar_2{
    width: 50vw;
    height: 100%;
}
#estruturas_e_tipos_2{
    position: absolute;
    top: 298vh;
    left: 8vw;
    font-size: 2vh;
    line-height: 16px;
    color: #2d2d2d6b;
}
#titulo_pq_participar{
    color: #0c2e40; 
    position: absolute; 
    top: 301vh;
    left: 8vw;
}
#enfeite_pq_participar{
    position: absolute;
    top: 307vh;
    left: 8vw;
    height: 0.3vh;
    width: 3vw;
    background-color: #333333;
}
#conteudo_pq_participar{
    color: #0c2e40;
    font-family: Lato, sans-serif;
    font-size: 2vh;
    position: absolute;
    top: 310vh;
    left: 8vw;
    width: 36vw;
    text-align: justify;
    line-height: 24px;
}
#button_pq_participar{
    color: #0c2e40;
    font-family: Lato, sans-serif;
    font-size: 1.5vh;
    position: absolute;
    top: 375vh;
    left: 7.5vw;
    width: 12vw;
    height: 55px;
    text-align: center;
    line-height: 15px;
    border-radius: 27.5px;
    border-color: #0c2e40;
    border-style: solid;
    font-weight: 900;
    background-color: white;
}
#button_pq_participar:hover{
    background-color: #0c2e40;
    color: white;
    transition: color 0.3s;
}
#principais_vantagens{
    position: absolute;
    top: 302vh;
    left: 55vw;
    color: #2d2d2d49;
    font-size: 2.2vh;
    font-weight: 550;
}
#enfeite_pq_participar_2{
    position: absolute;
    left: 50vw;
    top: 314vh;
    height: 55vh;
    width: 0.15vw;
    background-color: #03989d9c;
}
#img_vantagens_1{
   position: absolute; 
   left: 55vw; 
   top: 307vh; 
}
#img_vantagens_2{
    position: absolute; 
    left: 75vw; 
    top: 307vh;
}
#img_vantagens_3{
    position: absolute; 
    left: 75vw; 
    top: 327vh;
}
#img_vantagens_4{
    position: absolute; 
    left: 55vw; 
    top: 327vh;
}
#img_vantagens_5{
    position: absolute; 
    left: 55vw; 
    top: 347vh;
}
#img_vantagens_6{
    position: absolute; 
    left: 75vw; 
    top: 347vh;
}
#p_vantagens_1{
    position: absolute; 
    left: 55vw; 
    top: 315vh; 
    width: 15vw; 
    color:#0c2e40; 
    line-height: 24px;
}
#p_vantagens_2{
    position: absolute; 
    left: 75vw; 
    top: 315vh; 
    width: 15vw; 
    color:#0c2e40; 
    line-height: 24px;
}
#p_vantagens_3{
    position: absolute; 
    left: 75vw; 
    top: 336vh; 
    width: 21vw; 
    color:#0c2e40; 
    line-height: 24px;    
}
#p_vantagens_4{
    position: absolute; 
    left: 55vw; 
    top: 336vh; 
    width: 19vw; 
    color:#0c2e40; 
    line-height: 24px;
}
#p_vantagens_5{
    position: absolute; 
    left: 55vw; 
    top: 356vh; 
    width: 21vw; 
    color:#0c2e40; 
    line-height: 24px;  
}
#p_vantagens_6{
    position: absolute; 
    left: 75vw; 
    top: 356vh; 
    width: 21vw; 
    color:#0c2e40; 
    line-height: 24px;
}
#quer_participar{
    height: 27.9vh;
    background-color: #e9f1fe;
    display: flex;
}
#h2_quer_participar{
    position: absolute; 
    left: 28vw; 
    top: 415vh; 
    color: #0c2e40;
}
#button_quer_participar{
    color: #0c2e40;
    background-color: #0c2e40;
    color: white;
    font-family: Lato, sans-serif;
    font-size: 1.5vh;
    position: absolute;
    top:413.5vh;
    left: 47vw;
    width: 20vw;
    height: 55px;
    text-align: center;
    line-height: 15px;
    border-radius: 27.5px;
    border-color: #0c2e40;
    border-style: solid;
    font-weight: 900;
}
#button_quer_participar:hover{
    background-color: white;
    color: #0c2e40;
    transition: color 0.3s;
}
#como_implantar{
    height: 100vh;
}
 #img_siac{
        display: none;
        height: 20vh;
    }
    #img_siac2{
        display: none;
        height: 20vh;
    }
    #img_siac3{
        display: none;
        height: 20vh;
    }
#estruturas_e_tipos_3{
    position: absolute;
    top:442vh;
    left: 46vw;
    font-size: 1.7vh;
    line-height: 16px;
    color: #2d2d2d6b;
}
#titulo_como_implementar{
    color: #0c2e40;
    font-family: Lato, sans-serif;
    font-size: 3.5vh;
    position: absolute;
    top: 447vh;
    left: 38vw;
    text-align: start;
    line-height: 35.2px;
}
#enfeite_como_implementar{
    position: absolute;
    top: 453vh;
    left: 48vw;
    height: 0.3vh;
    width: 7vw;
    background-color: #333333;
}
#conteudo_como_implementar{
    color: #0c2e40;
    font-family: Lato, sans-serif;
    font-size: 1.7vh;
    position: absolute;
    top: 460vh;
    left: 30vw;
    width: 40vw;
    text-align: center;
    line-height: 20.4px;
}
#box_geral_como_implementar{
    position: absolute;
    top: 460vh;
    left: 7vw;
    width: 85vw;
    height: 20vh;
    border-bottom-color: rgba(0, 0, 0, 0.199);
    border-bottom-width: 1.5px;
    border-bottom-style: solid;
}
#box_siac_como_implementar{
    position: absolute;
    top: 10vh;
    left: 8vw;
    width:22.5vw;
    height: 10vh;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.144);
    border-radius: 6px;
    border-width: 0.1px;
    border-bottom-color: white;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
#box_simat_como_implementar{
    position: absolute;
    top: 10vh;
    left: 32vw;
    width:22.5vw;
    height: 10vh;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.144);
    border-radius: 6px;
    border-width: 0.1px;
    border-bottom-color: white;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
#box_sinac_como_implementar{
    position: absolute;
    top: 10vh;
    left: 56vw;
    width:22.5vw;
    height: 10vh;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.144);
    border-radius: 6px;
    border-width: 0.1px;
    border-bottom-color: white;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
#siac_sub{
    font-family: Poppins, sans-serif;
    font-size: 1.5vh;
    line-height: 12px;
    text-align: center;
    color: #25252596;
    font-weight: 600;
    position: absolute;
    left: 10.5vw;
    top: 2vh;
}
#simat_sub{
    font-family: Poppins, sans-serif;
    font-size: 1.5vh;
    line-height: 12px;
    text-align: center;
    color: #25252596;
    font-weight: 600;
    position: absolute;
    left: 10.5vw;
    top: 2vh;
}
#sinac_sub{
    font-family: Poppins, sans-serif;
    font-size: 1.5vh;
    line-height: 12px;
    text-align: center;
    color: #25252596;
    font-weight: 600;
    position: absolute;
    left: 10.5vw;
    top: 2vh;
}
#construtora_siac{
    font-size: 1.7vh;
    line-height: 16px;
    text-align: center;
    color: #2b2b2b;
    font-weight: 600;
    position: absolute;
    left: 8.6vw;
    top: 5vh;
}
#fabricante_simat{
    font-size: 1.7vh;
    line-height: 16px;
    text-align: center;
    color: #2b2b2b;
    font-weight: 600;
    position: absolute;
    left: 6.5vw;
    top: 5vh;
}
#proponente_sinac{
    font-size: 1.7vh;
    line-height: 16px;
    text-align: center;
    color: #2b2b2b;
    font-weight: 600;
    position: absolute;
    left: 6.8vw;
    top: 5vh;
}
#up1{
    display: none;
}
#up2{
    display: none;
}
#up3{
    display: none;
}
#img_siac{
    display: none;
}
#img_siac2{
    display: none;
}
#img_siac3{
    display: none;
}
#imgs_como_implementar{
    position: absolute;
    width: 60vw;
    height: 8.8vh;
    top: 490vh;
    left: 20vw;
}
#imgs_como_implementar_enfeite{
    position: absolute;
    width: 51.8vw;
    height: 0.5vh;
    top: 101%;
    left: 4.2vw;
    background-color: #33333365;
}
#img1_como_implementar{
    position: absolute;
    top: 4.9vh;
    left: 4vw;
    z-index: 1000;
    width: 8.3vh;
}
#img2_como_implementar{
    position: absolute;
    top: 5.1vh;
    left: 21vw;
    z-index: 1000;
    width: 8.3vh;
}
#img3_como_implementar{
    position: absolute;
    top: 4.7vh;
    left: 37vw;
    z-index: 1000;
    width: 8.3vh;
}
#img4_como_implementar{
    position: absolute;
    top: 4.7vh;
    left: 52vw;
    z-index: 1000;
    width: 8.3vh;
}
#p1_como_implementar{
    position: absolute;
    top: 15vh;
    left: 4.35vw;
    font-size: 1.5vh;
    line-height: 12.8px;
    color: #252525;
    font-weight: 700;
}
#p2_como_implementar{
    position: absolute;
    top: 15vh;
    left: 19.5vw;
    font-size: 1.5vh;
    line-height: 12.8px;
    color: #252525;
    font-weight: 700;
}
#p3_como_implementar{
    position: absolute;
    top: 15vh;
    left: 37vw;
    font-size: 1.5vh;
    line-height: 12.8px;
    color: #252525;
    font-weight: 700;
}
#p4_como_implementar{
    position: absolute;
    top: 15vh;
    left: 51vw;
    font-size: 1.5vh;
    line-height: 12.8px;
    color: #252525;
    font-weight: 700;
}
#button_como_implementar{
    color: #0c2e40;
    font-family: Lato, sans-serif;
    font-size: 1.5vh;
    position: absolute;
    top: 512vh;
    left: 42vw;
    width: 18vw;
    height: 58px;
    text-align: center;
    line-height: 15px;
    border-radius: 27.5px;
    border-color: #0c2e40;
    border-style: solid;
    font-weight: 900;
    background-color: white;
}
#button_como_implementar:hover{
    background-color: #0c2e40;
    color: white;
    transition: color 0.3s;  
}
#base_legal{
    height: 125vh;
    background-color: #E4E4E4;
}
#base_legal_1{
    position: absolute;
    width: 50%;
    height: 100%;
}
#base_legal_2{
    position: absolute;
    left: 49vw;
    width: 50%;
    height: 100%;
}
#estruturas_e_tipos_4{
    position: absolute;
    top:10vh;
    left: 8vw;
    font-size: 1.7vh;
    line-height: 16px;
    color: #2d2d2d6b;
}
#titulo_base_legal{
    color: #0c2e40; 
    position: absolute; 
    top: 13vh;
    left: 8vw; 
}
#enfeite_base_legal{
    position: absolute;
    top: 19vh;
    left: 8vw;
    height: 0.3vh;
    width: 3.5vw;
    background-color: #333333;
}
#conteudo_base_legal{
    color: #0c2e40;
    font-family: Lato, sans-serif;
    font-size: 2vh;
    position: absolute;
    top: 25vh;
    left: 8vw;
    width: 39vw;
    text-align: justify;
    line-height: 24px;
}
#button_base_legal{
    color: #0c2e40;
    font-family: Lato, sans-serif;
    background-color: #E4E4E4;
    font-size: 1.5vh;
    position: absolute;
    top: 47vh;
    left: 8vw;
    width: 12vw;
    height: 55px;
    text-align: center;
    line-height: 15px;
    border-radius: 27.5px;
    border-color: #0c2e40;
    border-style: solid;
    font-weight: 900;
}
#button_base_legal:hover{
    background-color: #0c2e40;
    color: white;
    transition: color 0.3s;
}
#box1_base_legal{
    position: absolute;
    top: 10vh;
    left: 2.5vw;
    width:22vw;
    height: 50vh;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.048);
    border-radius: 6px;
    border-width: 2px;
}
#box2_base_legal{
    position: absolute;
    top: 10vh;
    left: 26vw;
    width:22vw;
    height: 50vh;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.048);
    border-radius: 6px;
    border-width: 2px;
}
#box3_base_legal{
    position: absolute;
    top: 63vh;
    left: 2.5vw;
    width:22vw;
    height: 50vh;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.048);
    border-radius: 6px;
    border-width: 2px; 
}
#box4_base_legal{
    position: absolute;
    top: 63vh;
    left: 26vw;
    width:22vw;
    height: 50vh;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.048);
    border-radius: 6px;
    border-width: 2px;
}
.h3_base_legal1{
    color: #0c2e40;
    position: absolute;
    left: 1vw;
}
.p_base_legal1{
    color: #0c2e40;
    position: absolute;
    top: 18vh;
    left: 1vw;
    line-height: 24px;
}
#noticias{
    height: 100vh;
}
#titulo_noticias{
    color: #0c2e40;
    font-family: Lato, sans-serif;
    font-size: 3.5vh;
    position: absolute;
    top: 665vh;
    left: 47.7vw;
    text-align: start;
    line-height: 35.2px;
}
#enfeite_noticias{
    position: absolute;
    top: 671vh;
    left: 48vw;
    height: 0.3vh;
    width: 7vw;
    background-color: #333333;
}
#box_central_noticias{
    position: absolute;
    top: 672vh;
    left: 10vw;
    width: 80vw;
    height: 70vh;
}
#box_noticias{
    position: absolute;
    width:22vw;
    height: 65vh;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.144);
    border-radius: 6px;
    border-width: 0.1px;
    top: 3vh;
    left: 6.5vw;
}
#box_noticias_2{
    position: absolute;
    width:22vw;
    height: 65vh;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.144);
    border-radius: 6px;
    border-width: 0.1px;
    top: 3vh;
    left: 30vw;
}
#box_noticias_3{
    position: absolute;
    width:22vw;
    height: 65vh;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.144);
    border-radius: 6px;
    border-width: 0.1px;
    top: 3vh;
    left: 53.5vw;
}
.imgs_noticias{
    width: 22vw;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.box_noticias_data{
    position: absolute;
    font-family: lato;
    font-style: italic;
    top: 32vh;
    left: 1vw;
    color: #2525259c;
    font-size: 1.5vh;
    line-height: 18px;
}
.box_noticias_titulo{
    position: absolute;
    top: 35vh;
    left: 1vw;
    color: #252525;
    font-weight: 600;
    font-size: 2vh;
    line-height: 24px;   
}
.box_noticias_subtitulo{
    position: absolute;
    top: 38vh;
    left: 1vw;
    width: 20vw;
    color: #252525;
    font-size: 1.5vh;
    line-height: 20.4px;  
    text-align: justify; 
}
.box_noticias_a{
    position: absolute;
    top: 55vh;
    left: 0vw;
    color: #252525;
    font-size: 1.7vh;
    line-height: 20.4px;  
    font-weight: 600;  
}
.elemento_enfeite{
    position: absolute;
    top: 0vh;
    left: 6vw;
}
.box_noticias_a:hover{
    border-bottom-color: #0c2e40;
    border-bottom-style: solid;
    border-bottom-width: 0.1px;
}
#button_left_noticias{
    background-color: white;
    border: none;
    position: absolute;
    left: 88vw;
    top: 700vh;
}
#button_right_noticias{
    background-color: white;
    border: none;
    position: absolute;
    left: 13vw;
    top: 700vh;
}
#button_right_noticias_mobile{
    display: none;
    background-color: white;
    border: none;
    position: absolute;
    left: 13vw;
    top: 700vh;
}
#button_noticias{
    color: #0c2e40;
    font-family: Lato, sans-serif;
    background-color: white;
    font-size: 1.5vh;
    position: absolute;
    top: 745vh;
    left: 43.3vw;
    width: 16vw;
    height: 55px;
    text-align: center;
    line-height: 15px;
    border-radius: 27.5px;
    border-color: #0c2e40;
    border-style: solid;
    font-weight: 900;
}
#button_noticias:hover{
    background-color: #0c2e40;
    color: white;
    transition: color 0.3s;
}
#downloads{
    height: 100vh;
}
#titulo_downloads{
    color: #0c2e40;
    font-family: Lato, sans-serif;
    font-size: 3.5vh;
    position: absolute;
    top: 760vh;
    left: 46vw;
    text-align: start;
    line-height: 35.2px;
}
#enfeite_downloads{
    position: absolute;
    top: 766vh;
    left: 47.6vw;
    height: 0.3vh;
    width: 7vw;
    background-color: #333333;
}
#box_central_downloads{
    position: absolute;
    top: 775vh;
    left: 0vw;
    width: 95vw;
    height: 70vh;
}
#box_downloads{
    position: absolute;
    width:20vw;
    height: 48vh;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.144);
    border-radius: 6px;
    border-width: 2px;
    top: 3vh;
    left: 8vw;
}
#box_downloads_2{
    position: absolute;
    width:20vw;
    height: 48vh;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.144);
    border-radius: 6px;
    border-width: 2px;
    top: 3vh;
    left: 30vw;
}
#box_downloads_3{
    position: absolute;
    width:20vw;
    height: 48vh;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.144);
    border-radius: 6px;
    border-width: 2px;
    top: 3vh;
    left: 52vw;
}
#box_downloads_4{
    position: absolute;
    width:20vw;
    height: 48vh;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.144);
    border-radius: 6px;
    border-width: 2px;
    top: 3vh;
    left: 74vw;
}
.imgs_downloads{
    position: absolute;
    top: 1vh;
    left: 1vw;
}
.box_downloads_titulo{
    position: absolute;
    top: 15vh;
    left: 1vw;
    color: #252525;
    font-weight: 600;
    font-size: 2.1vh;
    line-height: 23.04px;   
}
.box_downloads_subtitulo{
    position: absolute;
    top: 21vh;
    left: 1vw;
    width: 18vw;
    color: #252525;
    font-size: 2vh;
    line-height: 24px;  
    text-align: justify; 
}
#button_downloads{
    color: #0c2e40;
    font-family: Lato, sans-serif;
    background-color: white;
    font-size: 1.5vh;
    position: absolute;
    top: 832vh;
    left: 46vw;
    width: 11vw;
    height: 55px;
    text-align: center;
    line-height: 15px;
    border-radius: 27.5px;
    border-color: #0c2e40;
    border-style: solid;
    font-weight: 900;
}
#button_downloads:hover{
    background-color: #0c2e40;
    color: white;
    transition: color 0.3s;
}
footer{
    height: 25vh;
    background-color: #0c2e40;    
}
#div1_footer{
    display: flex;
}
#div2_footer{
    display: flex;
}
#img_footer{
    margin-top: 1vh;
}
#img_footer_2{
    margin-top: 1.3vh;
}
#img_footer_3{
    margin-top: 1.15vh;
}
#button_footer{
    background-color: #ffc300;
    color: #4d697e;
    font-size: 1.5vh;
    font-weight: 15px;
    margin-left: 74vw;
    margin-top: 2vh;
    width: 200px;
    height: 55px;
    border-color: #ffc300;
    border-style: solid;
    border-radius: 4px;
}
#button_footer:hover{
    background-color: #0c2e40;
    color: #ffc300;
    transition: color 0.3s;
    transition: 0.2s;
}
#enfeite_footer{
    width: 93vw;
    height: 0.2vh;
    background-color: white;
    margin-top: 5vh;
    margin-left: 2vw;
}
#direitos_reservados{
    color: #4d697e;
    font-size: 1.5vh;
    line-height: 12px;
    margin-top: 3vh;
    margin-left: 2vw;
}
#rafael_ferr{
    color: #4d697e;
    font-size: 1.5vh;
    line-height: 12px;
    margin-top: 3vh;
    margin-left: 60vw;
}
@media (max-width: 768px){
    html, body {
        overflow-x: hidden;
    }
    header{
        display: none;
    }
    #bandeira_brasil{
        display: none;
    }
    #logoAndName{
        width: 30vw;
        height: 10vh;
        top: 2.5vh;
        left: 2vw;
    }
    #name_pre_nav{
        width: 62vw;
        font-size: 20px;
        line-height: 19px;
        top: 4.5vh;
        left: 35vw;
    }
    #pre_nav{
        height: 15vh;
    }
    .nav-top{
        height: 7vh;
    }
    #ul_nav{
       display: none;
       background-color: #E4E4E4;
       left: 0vh;
       width: 100%;
       height: 45%;
       margin-top: -1vh;
       z-index: 1000;
    }
    .li{
        height: 5vh;
        background-color: #E4E4E4;
    }
    .li:hover {
        border-bottom: 1px solid #0c2e40;
    }
    .li a{
        color: black;
    }
    #inverseVNav_1 {
        stroke: black;
    }
    #inverseVNav_2 {
        stroke: black;
    }
    #inverseVNav_3 {
        stroke: black;
    }
    #inverseVNav_4 {
        stroke: black;
    }
    #inverseVNav_5 {
        stroke: black;
    }
    #button_media{
        display: inline;
    }
    .search-input {
    display: inline;
    width: 90%;
    margin-left: 5vw;
    margin-top: 2vh;
    height: 3vh;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
    outline: none;
    }

    .search-input::placeholder {
        color: #ccc;
    }

    .search-button {
        display: inline;
        transform: translateY(-50%);
        margin-top: -235vh;
        border: none;
        background: none;
        cursor: pointer;
        margin-left: 88vw;
    }
    .search-button svg {
        fill: #333;
    }

    .search-button:focus {
        outline: none;
    }
    .button_nav{
     position:relative;
     top: -2vh;
     width: 27vw;
     height: 5vh;
     left: 58vw;
    }
    .button_nav_fixed{
        width: 30vw;
        left: 64vw;
    }
    #img_noticias_nav{
        height: 25vh;
    }
    #programa{
        height: 90vh;
    }
    #titulo_programa{
        font-size: 25px;
        top: 52vh;
        left: 7.5vw;
        line-height: 35.2px;
    }
    #enfeite_titulo_programa{
        position: absolute;
        top: 57vh;
        height: 0.4vh;
        width: 10vw;
    }
    #conteudo_programa{
        font-size: 12px;
        top: 59vh;
        left: 7.5vw;
        width: 69vw;
        line-height: 24px;
    }
    #button_programa{
        font-size: 15px;
        top: 117vh;
        left: 27vw;
        width: 42vw;
        height: 5vh;
    }
    #programa_logo{
        top: 125vh;
        left: 10vw;
        width: 22vw;
    }
    #programa_minhaCasa{
        top: 125vh;
        left: 70vw;
        width: 15vw;
    }
    #programa_caixa{
        top: 128vh;
        left: 38vw;
        width: 22vw;
    }
    #projetos{
        height: 210vh;
    }
    #estruturas_e_tipos{
        top: 140vh;
        margin-left: 35.5vw;
        font-size: 12px;
        line-height: 16px;
    }
    #projetos_titulo{
        font-size: 25px;
        margin-left: 39vw;
        top: 144vh;
        line-height: 25px;
    }
    #enfeite_projetos{
        top: 11vh;
        height: 0.4vh;
    }
    #conteudo_projetos{
        font-size: 12px;
        top: 151vh;
        left: 11vw;
        width:78vw;
        line-height: 20px;
    }
    #box_projetos{
        position: absolute;
        top: 172vh;
        left: 12.5vw;
        width:72vw;
        height: 74vh;
        display: block;
    }
    #box_projetos1{
        position: relative;
        width:75vw;
        height: 53vh;
        left: 0vw;
        margin-bottom: 5vh;
    }
    #box_projetos2{
        position: relative;
        width:75vw;
        height: 53vh;
        left: 0vw;
        margin-bottom: 5vh;
    }
    #box_projetos3{
        position: relative;
        width:75vw;    
        height: 53vh;
        left: 0vw;
        margin-bottom: 5vh;
    }
    #chapeu{
        left: 18.5vw;
        top: 0vh;
    }
    #agenda{
        left: 19vw;
        top: 0vh;
    }
    #desenho{
        left: 19vw;
        top: 0vh;
    }
    #box_projetos2_h1{
        left: 28vw; 
        top: 0vh;
        width: 30vw;
    }
    #box_projetos2_h2{
        left: 27vw; 
        top: 0vh;
        width: 30vw;
    }
    #box_projetos2_h3{
        left: 27vw; 
        top: 0vh;
        width: 30vw;
    }
    #box_projetos2_p1{
        left: 7vw; 
        top: 19vh; 
        width: 60vw;
    }
    #box_projetos2_p2{
        left: 5.5vw; 
        top: 19vh; 
        width: 60vw;
    }
    #box_projetos2_p3{
        left: 5vw; 
        top: 19vh; 
        width: 60vw;    
    }
    #box_projetos2_a1{
        left: 21vw; 
        top: 35vh; 
    }
    #box_projetos2_a2{
        left: 21vw; 
        top: 35vh; 
    }
    #box_projetos2_a3{
        left: 21vw; 
        top: 35vh; 
    }
    #pq_participar{
    height: 145vh;
    display: block;
}
    #pq_participar_1{
        width: 100vh;
        height: 65vh;
    }
    #pq_participar_2{
        width: 100vh;
        height: 75vh;
    }
    #estruturas_e_tipos_2{
        position: relative;
        top: 2vh;
        left: 5vw;
        font-size: 12px;
        line-height: 16px;
    }
    #titulo_pq_participar{ 
        position: relative; 
        top: 3vh;
        left: 5vw;
        width: 70vw;
        font-size: 25px;
    }
    #enfeite_pq_participar{
        position: relative;
        top: 4vh;
        left: 5vw;
        height: 0.3vh;
        width: 8vw;
    }
    #conteudo_pq_participar{
        font-size: 14px;
        position: relative;
        top: 8vh;
        left: 5vw;
        width: 86vw;
        text-align:start;
        line-height: 24px;
    }
    #button_pq_participar{
        position: relative;
        top: 82vh;
        left: 28vw;
        width: 40vw;
        height: 5vh;
        line-height: 15px;
    }
    #principais_vantagens{
        position: relative;
        top: 0vh;
        left: 5vw;
        font-size: 17px;
    }
    #enfeite_pq_participar_2{
        display: none; 
    }
    #img_vantagens_1{
         position: absolute;
        left:4vw; 
        top: 420vh; 
    }
    #img_vantagens_2{
        position: absolute;
        left: 48vw; 
        top: 420vh;
    }
    #img_vantagens_3{
        position: absolute;
        left: 4vw; 
        top: 435vh;
    }
    #img_vantagens_4{
        position: absolute;
        left: 48vw; 
        top: 435vh;
    }
    #img_vantagens_5{
        position: absolute;
        left: 4vw; 
        top: 455vh;
    }
    #img_vantagens_6{
        position: absolute;
        left: 48vw; 
        top: 455vh;
    }
    #p_vantagens_1{
        position: absolute;
        left: 4vw; 
        top: 425.5vh; 
        width: 32vw;  
        font-size: 13px;
        line-height: 18px;
    }
    #p_vantagens_2{
        position: absolute;
        left: 48vw; 
        top: 425.5vh; 
        width: 32vw;  
        font-size: 13px;
        line-height: 18px;
    }
    #p_vantagens_3{
        position: absolute;
        left: 4vw; 
        top: 442vh; 
        width: 32vw;  
        font-size: 13px;
        line-height: 18px;    
    }
    #p_vantagens_4{
        position: absolute;
        left: 48vw; 
        top: 442vh; 
        width: 32vw;  
        font-size: 13px;
        line-height: 18px;  
    }
    #p_vantagens_5{
        position: absolute;
        left: 4vw; 
        top: 462vh; 
        width: 32vw;  
        font-size: 13px;
        line-height: 18px;  
    }
    #p_vantagens_6{
        position: absolute;
        left: 48vw; 
        top: 462vh; 
        width: 32vw;  
        font-size: 13px;
        line-height: 18px; 
    }
    #quer_participar{
        height: 18vh;
    }
    #img_quer_participar{
        width: 20vw;
    }
    #h2_quer_participar{
        position: relative;
        left: 0vw;
        top: 0vh;
        font-size: 20px;
        margin-left: 14vw;
        margin-top: 3vh;
        width: 50vw;
    }
    #button_quer_participar{
        font-size: 15px;
        position: relative;
        top:0vh;
        left: 0vw;
        width: 70vw;
        height: 4.5vh;
        margin-top: 7vh;
        margin-left: -67vw;
    }
    #estruturas_e_tipos_3{
        position: relative;
        top:0vh;
        left: 0vw;
        margin-left: 32vw;
        margin-top: 2vh;
        font-size: 12px;
        line-height: 16px; 
    }
    #como_implantar{
        height: 54.5vh;
    }
    #titulo_como_implementar{
        font-size: 22px;
        position: relative;
        top: 0vh;
        left: 0vw;
        margin-left: 12vw;
        line-height: 35.2px;
    }
    #enfeite_como_implementar{
        position: relative;
        top: 0vh;
        left: 0vw;
        height: 0.2vh;
        width: 16vw;
        margin-left: 40vw;
    }
    #conteudo_como_implementar{
        font-size: 13.6px;
        position: relative;
        top: 0vh;
        left: 0vw;
        width: 88vw;
        text-align: center;
        line-height: 20.4px;
        margin-left: 6vw;
        margin-top: 2vh;
    }
    #box_geral_como_implementar{
        position: relative;
        top: 0vh;
        left: 0vw;
        width: 100vw;
        height: 0vh;
        border: none;
        margin-top: 2vh;
    }
    #box_siac_como_implementar{
        position: relative;
        top: 0vh;
        left: 0vw;
        width: 100vw;
        height: 6vh;
        border: none;
        border-radius: 0px;
        background-color: #03989d13;
    }
    #box_simat_como_implementar{
        position: relative;
        top: 0vh;
        left: 0vw;
        width: 100vw;
        height: 6vh;
        border: none;
        border-radius: 0px;
        background-color: #03989d13;
    }
    #box_sinac_como_implementar{
        position: relative;
        top: 0vh;
        left: 0vw;
        width: 100vw;
        height: 6vh;
        border: none;
        border-radius: 0px;
        background-color: #03989d13;
    }
    #siac_sub{
        left: 47vw;
        top: 1vh;
    }
    #simat_sub{
        left: 47vw;
        top: 1vh;
    }
    #sinac_sub{
        left: 47vw;
        top: 1vh;
    }
    #construtora_siac{
        left: 39vw;
        top: 3vh;
    }
    #fabricante_simat{
        left: 29vw;
        top: 3vh;
    }
    #proponente_sinac{
        left: 31vw;
        top: 3vh;
    }
    #up1{
        display: flex;
        margin-top: 1vh;
        margin-left: 92vw;
    }
    #up2{
        display: flex;
        margin-top: 1vh;
        margin-left: 92vw;
    }
    #up3{
        display: flex;
        margin-top: 1vh;
        margin-left: 92vw;
    }
    #imgs_como_implementar{
        display: none;
    }
    #button_como_implementar{
        display: none;
    }
    #img_siac{
        display: none;
        height: 20vh;
    }
    #img_siac2{
        display: none;
        height: 20vh;
    }
    #img_siac3{
        display: none;
        height: 20vh;
    }
    #img1_siac{
        margin-left: 8vw;
        margin-top: 0.2vh;
    }
    #img2_siac{
        margin-left: 10vw;
        margin-top: 0.3vh;
    }
    #img3_siac{
        margin-left: 8vw;
    }
    #img4_siac{
        margin-left: 8vw;
    }
    #p1_siac1{
        font-size: 12px;
        margin-left: 8vw;
        margin-top: 0.3vh;
    }
    #p2_siac2{
        font-size: 12px;
        margin-left: 3.5vw;
        margin-top: 0.1vh;
    }
    #p3_siac3{
        font-size: 12px;
        margin-left: 6.5vw;
        margin-top: 0.2vh;
    }
    #p4_siac4{
        font-size: 12px;
        margin-left: 4vw;
    }
    #siac_enfeite_ofc{
        position: relative;
        width: 82vw;
        height: 0.3vh;
        top: 0vh;
        left: 0vw;
        margin-top: 3vh;
        margin-left: -88vw;
        z-index: -100;
        background-color: #33333365; 
    }
    #button_siac_1{
        color: #0c2e40;
        font-family: Lato, sans-serif;
        font-size: 15px;
        width: 48vw;
        height: 4vh;
        text-align: center;
        line-height: 15px;
        border-radius: 27.5px;
        border-color: #0c2e40;
        border-style: solid;
        font-weight: 900;
        background-color: white; 
        margin-top: 12vh;
        margin-left: -65vw;
    }
    #button_siac_1:hover{
        background-color: #0c2e40;
        color: white;
        transition: color 0.3s;
    }
    #base_legal{
        height: 190vh;
    }
    #base_legal_1{
        position: relative;
        width: 100%;
        height: 40vh;
    }
    #base_legal_2{
        position: relative;
        left: 0vw;
        width: 100%;
    }
    #estruturas_e_tipos_4{
        position: relative;
        top:3vh;
        left: 8vw;
        font-size: 12px;
    }
    #titulo_base_legal{
        position: relative; 
        top: 5vh;
        left: 8vw; 
        font-size: 25px;
    }
    #enfeite_base_legal{
        position: relative;
        top: 6vh;
        left: 8vw;
        height: 0.3vh;
        width: 9vw;
        background-color: #333333;
    }
    #conteudo_base_legal{
        font-size: 13px;
        position: absolute;
        top: 16vh;
        left: 8vw;
        width: 80vw;
    }
    #button_base_legal{
        position: relative;
        top: 28vh;
        left: 8vw;
        width: 30vw;
        height: 3.8vh;
    }
    #box1_base_legal{
        position: relative;
        top: 0vh;
        left: 5vw;
        width: 88vw;
        height: 35vh;
    }
    #box2_base_legal{
        position: relative;
        top: 1vh;
        left: 5vw;
        width: 88vw;
        height: 35vh;
    }
    #box3_base_legal{
        position: relative;
        top: 1vh;
        left: 5vw;
        width:88vw;
        height: 35vh;
    }
    #box4_base_legal{
        position: relative;
        top: 1vh;
        left: 5vw;
        width:88vw;
        height: 35vh;
    }
    .h3_base_legal1{
        color: #0c2e40;
        position: relative;
        left: 1vw;
    }
    .p_base_legal1{
        color: #0c2e40;
        position: relative;
        top: 2vh;
        left: 1vw;
        line-height: 24px;
    }
    #titulo_noticias{
        position: relative;
        top: 2vh;
        left: 35vw;
    }
    #enfeite_noticias{
        position: relative;
        top: 2vh;
        left: 47vw;
    }
    #box_mobile{
        overflow-y:hidden;
        width: 100vw;
        height: 75vh;
    }
    #box_central_noticias{
        display: flex;
        position: relative;
        top: 4vh;
        left: 2.5vw;
        width: 200vw;
        height: 65vh;
    }
    #box_noticias{
        position:relative;
        width: 300px;
        height: 55vh;
        border-radius: 8px;
        top: 3vh;
        left: 2vw;
    }
    #box_noticias_2{
        position:relative;
        width: 300px;
        height: 55vh;
        border-radius: 8px;
        top: 3vh;
        left: 6vw;
    }
    #box_noticias_3{
        display: none;
    }
    #button_left_noticias{
        display: none;
    }
    #button_right_noticias{
        display: none;
    }
    #button_right_noticias_mobile{
        display: block;
        background-color: white;
        width: 8vw;
        height: 8vw;
        border: none;
        position: relative;
        left: 84vw;
        top: -34vh;
        border-radius: 50%;
        box-shadow: 1px 1px 1px 1px black;
    }
    #button_noticias{
        position: relative;
        top: 0vh;
        left: 25vw;
        width: 50vw;
    }
    .imgs_noticias{
        width: 100%;
    }
    .box_noticias_data{
        top: 24vh;
        left: 4vw;
    }
    .box_noticias_titulo{
        top: 26vh;
        left: 4vw;  
    }
    .box_noticias_subtitulo{
        top: 29vh;
        left: 4vw;
        width: 60vw;
    }
    .box_noticias_a{
        top: 42vh;
        left: 0vw; 
    }
    .elemento_enfeite{
        top: 0vh;
        left: 20vw;
        display: none;
    }
    #titulo_downloads{
        position: relative;
        top: 1vh;
        left: 30vw;
    }
    #enfeite_downloads{
        position: relative;
        top: 1vh;
        left: 47.6vw;
        height: 0.3vh;
        width: 7vw;
        background-color: #333333;
    }
    #box_central_downloads{
        position: relative;
        top: 5vh;
        left: 0vw;
        width: 95vw;
        height: 70vh;
        display: block;
    }
    #box_downloads{
        position: relative;
        width:45vw;
        height: 35vh;
        border-style: solid;
        border-color: rgba(0, 0, 0, 0.144);
        border-radius: 6px;
        border-width: 2px;
        top: 3vh;
        left: 4vw;
    }
    #box_downloads_2{
        position: relative;
        width:45vw;
        height: 35vh;
        border-style: solid;
        border-color: rgba(0, 0, 0, 0.144);
        border-radius: 6px;
        border-width: 2px;
        top: 3vh;
        left: 4vw;
    }
    #box_downloads_3{
        position: relative;
        width:45vw;
        height: 35vh;
        border-style: solid;
        border-color: rgba(0, 0, 0, 0.144);
        border-radius: 6px;
        border-width: 2px;
        top: 3vh;
        left: 4vw;
    }
    #box_downloads_4{
        position: relative;
        width:45vw;
        height: 35vh;
        border-style: solid;
        border-color: rgba(0, 0, 0, 0.144);
        border-radius: 6px;
        border-width: 2px;
        top: 3vh;
        left: 4vw;
    }
    .box_downloads_titulo{
        position: absolute;
        top: 10vh;
        left: 1vw;
        color: #252525;
        font-weight: 600;
        font-size: 2.1vh;
        line-height: 23.04px;   
    }
        .box_downloads_subtitulo{
        position: absolute;
        top: 15vh;
        left: 1vw;
        width: 40vw;
        color: #252525;
        font-size: 1.5vh;
        line-height: 24px;  
        text-align: justify; 
    }
    #button_downloads{
        position: relative;
        top: 15vh;
        left: 18vw;
        width: 30vh;
    }
    footer{
        height: 40vh;
    }
    #button_footer{
        margin-left: -55.5vw;
        margin-top: 7vh;
    }
    #img_footer{
        margin-left: 18vw;
        margin-top: 16.1vh;
        width: 5vh;
    }
    #img_footer_2{
        margin-top: 16.3vh;
        width: 5vh;
    }
    #img_footer_3{
        margin-top: 16.15vh;
        width: 5vh;
    }
    #div2_footer{
        display: block;
    }
    #rafael_ferr{
        color: #4d697e;
        font-size: 1.5vh;
        line-height: 12px;
        margin-top: 1vh;
        margin-left:3vw;
    }
}