*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Lato, sans-serif;
    overflow-x: hidden;
}
header{
    background-color: #03979d;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#centerHeader{
    width: 1366px;
    height: 30px;
}
#header_button{
    background-color: #0c2e40;
    color: white;
    position: relative;
    width: 120px;
    height: 30px;
    margin-left: 1204px;
    border: none;
}
#centerPrenav{
    display: flex;
    width: 1366px;
    height: 179px;
}
#pre_nav{
    background-color: #00000011;
    height: 179px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#logoAndName{
    position: relative;
    width: 204px;
    height: 157px;
    top: -10px;
    left: 95px;

}
#name_pre_nav{
    position: relative;
    top: 49px;
    left: 105px;
    width: 480px;
    height: 82px;
    text-align: left;
    font: normal normal bold 32px/42px ZapfHumnst BT;
    letter-spacing: 0px;
    color: #0c2e40;
    opacity: 1;
}
#bandeira_brasil{
    position: relative;
    top: 39px;
    left:470px;
    width: 151px;
    height: 101px;
}
#centerNav{
    width: 1366px;
    height: 60px;
}
.nav-top{
    background-color: #0c2e40;
    height: 60px; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-fixed {
    position: fixed;
    background-color: #0c2e40;
    height: 60px;
    top: 0vh;
    width: 100%;
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center;
}
#button_media{
    display: none;
    margin-top: 1vh;
    border: none;
    background-color: #0c2e40;
}
#ul_nav {
    display: flex;
    position: relative;
    left: 126px;
    width: 1060px;
}
.li {
    display: flex;
    font: normal normal normal 16px/19px Lato;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    height: 60px;
}
.search-input{
    display: none;
}
.search-button{
    display: none;
}
.li:hover {
    background-color: white;
}
#li_3{
    background-color: white;
}
#li_3 a{
    color: black;
}
#li_3 #inverseVNav_3{
    stroke: black;
}
a {
    text-decoration: none; 
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: left;
    font: normal normal normal 16px/19px Lato;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
#li_1:hover #inverseVNav_1,
#li_2:hover #inverseVNav_2,
#li_4:hover #inverseVNav_4,
#li_5:hover #inverseVNav_5 {
    stroke: black;
}
#li_1:hover a,
#li_2:hover a,
#li_4:hover a,
#li_5:hover a,
#li_6:hover a,
#li_7:hover a {
    color: black;
}
.active {
    background-color: white !important;
}
.active a {
    color: black !important;
}
.inverse-active {
    stroke: black !important;
}
.button_nav {
    background-color: #0c2e40;
    text-align: center;
    letter-spacing: 0px;
    color: white;
    opacity: 1;
    position: relative;
    width: 107px;
    height: 39px;
    top: -50px;
    left: 1100px;
    font: normal normal normal 16px/19px Lato;
    border-style: solid;
    border-color: white;
    border-radius: 3px;
    border-width: 1px;
}
.button_nav:hover {
    background-color: white;
    color: black;
    transition: color 0.3s;
}
.button_nav_fixed{
    background-color: #0c2e40;
    position: relative;
    width: 107px;
    height: 39px;
    top: -50px;
    left: 1100px;
    font: normal normal normal 16px/19px Lato;
    border-style: solid;
    border-color: white;
    border-radius: 3px;
    border-width: 1px;
}
.button_nav p{
    font: normal normal normal 16px/19px Lato;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
.button_nav_fixed p{
    font: normal normal normal 16px/19px Lato;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
.button_nav_fixed:hover {
    background-color: white;
    color: black;
    transition: color 0.3s;
}
#titulo{
    height: 214px;
    background: radial-gradient(#00000011, rgba(0, 0, 0, 0.014));
    display: flex;
    justify-content: center;
    align-items: center;
}
#centerTitulo{
    width: 1366px;
    height: 214px;
}
#titulo h1{
    text-align: center;
    font: normal normal 600 32px/30px Lato;
    letter-spacing: 0px;
    color: #0c2e40;
    opacity: 1;
    margin-top: 131px;
}
#estrutura{
    height: 1130px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#centerEstrutura{
  width: 1366px;
    height: 1130px;
}
#estrutura p{
    color: #111111;
    FONT-SIZE:16px;
    LINE-HEIGHT:24px;
}
#p{
  position: relative;
  left: 486px;
width: 394px;
height: 45px;
   text-align: center;
font: normal normal normal 16px/23px Lato;
letter-spacing: 0px;
color: #0c2e40;
opacity: 0.6;
margin-top: 31px;
}
#p1{
  margin-left: 422px;
    margin-top: 50px;
    text-align: left;
font: normal normal normal 15px/18px Lato;
letter-spacing: 0px;
color: #0c2e40;
opacity: 1;
}
#name-input {
  position: relative;
left: 420px;
width: 525px;
height: 44px;
border: 1px solid var(--unnamed-color-111111);
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #111111;
border-radius: 4px;
opacity: 1;
  }
  #name-input::placeholder {
    color: #ccc;
    margin: 2px;
  }
  .p_2{
    display: flex;
    margin-top: 18px;
margin-left: 422px;
  }
  #p2{
width: 56px;
height: 18px;
color: var(--unnamed-color-111111);
text-align: left;
font: normal normal normal 15px/18px Lato;
letter-spacing: 0px;
color: #0c2e40;
opacity: 1;
  }
  #p3{
    margin-left: 265px;
width: 56px;
height: 18px;
color: var(--unnamed-color-111111);
text-align: left;
font: normal normal normal 15px/18px Lato;
letter-spacing: 0px;
color: #0c2e40;
opacity: 1;
  }
  .element_2{
    display: flex;
    margin-left: 422px;
    height: 44px;
  }
  #name-input2 {
    width: 306px;
height: 44px;
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #DEDEDF;
border-radius: 4px;
opacity: 1;
    color: #333;
  }
#seletor1 {
    width: 204px;
height: 44px;
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #DEDEDF;
border-radius: 4px;
opacity: 1;
    margin-left: 15px;
  }
  #p4{
    margin-right: 154px;
    text-align: left;
font: normal normal normal 15px/18px Lato;
letter-spacing: 0px;
color: #0c2e40;
opacity: 1;
  }
  #p5{
    text-align: left;
font: normal normal normal 15px/18px Lato;
letter-spacing: 0px;
color: #0c2e40;
opacity: 1;
  }
#name-input3 {
   width: 180px;
height: 44px;
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #DEDEDF;
border-radius: 4px;
border-top-left-radius: none;
border-bottom-left-radius: none;
opacity: 1;
    color: #333;
  }
#seletor2 {
    width: 70px;
    padding: 12px;
    border: 1px solid #111111;
    border-top-left-radius: 4.8px;
    border-bottom-left-radius: 4.8px;
    outline: none;
    color: #333;
    padding-right: 10px;
  }
  #name-input4 {
    width: 262px;
height: 44px;
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #DEDEDF;
border-radius: 4px;
opacity: 1;
    color: #333;
    margin-left: 10px;
  }
    #p6{
    margin-right: 125px;
    text-align: left;
font: normal normal normal 15px/18px Lato;
letter-spacing: 0px;
color: #0c2e40;
opacity: 1;
  }
   #p7{
    margin-right: 217px;
    text-align: left;
font: normal normal normal 15px/18px Lato;
letter-spacing: 0px;
color: #0c2e40;
opacity: 1;
  }
  #p8{
    text-align: left;
font: normal normal normal 15px/18px Lato;
letter-spacing: 0px;
color: #0c2e40;
opacity: 1;
  }
#name-input5 {
    width: 138px;
height: 44px;
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #DEDEDF;
border-radius: 4px;
opacity: 1;
    color: #333;
    margin-right: 15px;
  }
  #name-input6 {
    width: 248px;
height: 44px;
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #DEDEDF;
border-radius: 4px;
opacity: 1;
    color: #333;
  }
  #seletor3 {
    width: 109px;
height: 44px;
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #DEDEDF;
border-radius: 4px;
opacity: 1;
    color: #333;
    margin-left: 15px;
  }
  #name-input7 {
    width: 525px;
height: 44px;
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #DEDEDF;
border-radius: 4px;
opacity: 1;
    color: #333;
    margin-left: 420px;
  }
  #p9{
    text-align: left;
font: normal normal normal 15px/18px Lato;
letter-spacing: 0px;
color: #0c2e40;
opacity: 1;
    margin-left: 420px;
  }
  #p10{
    text-align: left;
font: normal normal normal 15px/18px Lato;
letter-spacing: 0px;
color: #0c2e40;
opacity: 1;
    margin-left: 420px;
  }
   #mensagem-textarea {
    width: 525px;
height: 240px;
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #DEDEDF;
border-radius: 4px;
opacity: 1;
    color: #333;
    margin-left:420px;
  }
  #btn_enviar{
    margin-left: 26.5vw;
    margin-left: 420px;
    width: 142px;
height: 47px;
border: 2px solid var(--unnamed-color-005fa3);
background: #0c2e40 0% 0% no-repeat padding-box;
border: 2px solid #0c2e40;
border-radius: 4px;
color: white;
opacity: 1;
margin-top: 97px;
  }
  #btn_enviar:hover{
    color: #0c2e40;
    background-color: white;
    border: 1px solid #0c2e40;
    cursor: pointer;
  }
footer{
    height: 216px;
    background-color: #0c2e40; 
    display: flex;
    justify-content: center;
    align-items: center;   
}
#centerFooter{
    width: 1366px;
    height: 216px;
}
#div1_footer{
    display: flex;
}
#div2_footer{
    display: flex;
}
#img_footer{
    margin-top: 5px;
    margin-left: 117px;
}
#img_footer_2{
    margin-top: 7px;
}
#img_footer_3{
    margin-top: 5.5px;
}
#button_footer{
    position: relative;
    top: 25px;
    left: 800px;
    width: 149px;
    height: 45px;
    border: none;
    background: #FFC300 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 4px;
    opacity: 1;
    font: normal normal medium 16px/25px Lato;
    letter-spacing: 0px;
    color: #4D697E;
    opacity: 1;
}
#button_footer:hover{
    background-color: #0c2e40;
    color: #ffc300;
    transition: color 0.3s;
    transition: 0.2s;
}
#enfeite_footer{
    position: relative;
    width: 1115px;
    height: 2px;
    background-color: #F0F0F0;
    opacity: 0.1;
    margin-top: 80px;
    margin-left: 132px;
}
#direitos_reservados{
    width: 600px;
    height: 16px;
    text-align: left;
    font: normal normal 300 13px/16px Lato;
    letter-spacing: 0px;
    color: #F0F0F0;
    opacity: 0.2;
    margin-top: 10px;
    margin-left: 135px;
}
#rafael_ferr{
    width: 174px;
    height: 16px;
    text-align: left;
    font: normal normal 300 13px/16px Lato;
    letter-spacing: 0px;
    color: #F0F0F0;
    opacity: 0.2;
    margin-top: 10px;
    margin-left: 356px;
}