*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Lato, sans-serif;
}
header{
    background-color: #03979d;
    height: 4.75vh;
}
#header_button{
    background-color: #0c2e40;
    color: white;
    position: absolute;
    width: 10vw;
    height: 4.75vh;
    left: 88vw;
    border: none;
}
#pre_nav{
    background-color: #00000011;
    height: 25.5vh;
}
#logoAndName{
    position: absolute;
    height: 26vh;
    left: 6vw;
    top: 4.3vh;
}
#name_pre_nav{
    position: absolute;
    left: 25vw;
    top: 13vh;
    width: 41vw;
    color: #0c2e40;
    font-family: "fibra one", sans-serif;
    line-height: 44px;
}
#bandeira_brasil{
    position: absolute;
    left: 85vw;
    top: 10vh;
}
.nav-top{
    background-color: #0c2e40;
    height: 9vh;
}
.nav-fixed {
    position: fixed;
    background-color: #0c2e40;
    width: 100%;
    height: 9vh;
    top: 0vh;
    z-index: 10000;
}
#ul_nav {
    display: flex;
    position: absolute;
    left: 6vw;
}
.li {
    display: flex;
    font-size: 13.6px;
    height: 9vh;
}
.li:hover {
    background-color: white;
}
a {
    text-decoration: none; 
    color: white;
    margin: 20px;
}
.li:hover a {
    color: black;
    transition: color 0.3s;
}
.li:hover #inverseVNav {
    stroke: black;
}
.button_nav {
    background-color: #0c2e40;
    color: white;
    position: absolute;
    width: 10vw;
    height: 6.5vh;
    left: 77vw;
    top: 31.5vh;
    font-size: 15px;
    border-style: solid;
    border-color: white;
    border-radius: 3px;
    border-width: 1px;
}
.button_nav:hover {
    background-color: white;
    color: black;
    transition: color 0.3s;
}
.button_nav_fixed{
    background-color: #0c2e40;
    color: white;
    position: fixed;
    width: 10vw;
    height: 6.5vh;
    left: 77vw;
    top: 1.25vh;
    font-size: 15px;
    border-style: solid;
    border-color: white;
    border-radius: 3px;
    border-width: 1px;
}
.button_nav_fixed:hover {
    background-color: white;
    color: black;
    transition: color 0.3s;
}
#img_noticias_nav{
    background-color: #03979d;
    width: 100%;
    height: 45vh;
}
#titulo{
    height: 20vh;
    background: radial-gradient(#00000011, rgba(0, 0, 0, 0.014));
    display: flex;
}
#titulo h1{
    color: #252525;
    margin-top: 8vh;
    margin-left: 45vw;
}
#estrutura{
    height: 100vh;
}
#estrutura p{
    color: #111111;
    FONT-SIZE:16px;
    LINE-HEIGHT:24px;
}
#p{
    margin-top: 3vh;
    margin-left: 25vw;
    text-align: center;
    width: 50vw;
}
#p1{
    margin-top: 3vh;
    margin-left: 26.5vw;
}
#name-input {
    width: 50vw;
    padding: 12px;
    border: 1px solid #111111;
    border-radius: 4.8px;
    outline: none;
    color: #333;
    margin-left: 26.5vw;
  }
  #name-input::placeholder {
    color: #ccc;
  }
  .p_2{
    display: flex;
    margin-left: 26.5vw;
  }
  #p2{
    margin-right: 30vw;
  }
  .element_2{
    display: flex;
    margin-left: 26.5vw;
  }
  #name-input2 {
    width: 30vw;
    padding: 12px;
    border: 1px solid #111111;
    border-radius: 4.8px;
    outline: none;
    color: #333;
  }
#seletor1 {
    width: 17vw;
    padding: 12px;
    border: 1px solid #111111;
    border-radius: 4.8px;
    outline: none;
    color: #333;
    margin-left: 3vw;
  }
  #p4{
    margin-right: 18.5vw;
  }
#name-input3 {
    width: 20vw;
    padding: 12px;
    border: 1px solid #111111;
    border-top-right-radius: 4.8px;
    border-bottom-right-radius: 4.8px;
    outline: none;
    color: #333;
  }
#seletor2 {
    width: 5vw;
    padding: 12px;
    border: 1px solid #111111;
    border-top-left-radius: 4.8px;
    border-bottom-left-radius: 4.8px;
    outline: none;
    color: #333;
    padding-right: 5px;
  }
  #name-input4 {
    width: 18vw;
    padding: 12px;
    border: 1px solid #111111;
    border-radius: 4.8px;
    outline: none;
    color: #333;
    margin-left: 1vw;
  }
  .element_2 div{
    height: 6.5vh;
    width: 4vw;
    background-color: #cccccc54;
    border-radius: 10px;
    margin-left: 0.5vw;
  }
  .element_2 a{
    margin-left: 0vw;
  }
  .element_2 img{
    border-radius: 12px;
    margin-top: 0.8vh;
  }
    #p6{
    margin-right: 17.5vw;
  }
   #p7{
    margin-right: 19vw;
  }
#name-input5 {
    width: 17vw;
    padding: 12px;
    border: 1px solid #111111;
    border-radius: 4.8px;
    outline: none;
    color: #333;
    margin-right: 1vw;
  }
  #name-input6 {
    width: 20vw;
    padding: 12px;
    border: 1px solid #111111;
    border-radius: 4.8px;
    outline: none;
    color: #333;
  }
  #seletor3 {
    width: 9vw;
    padding: 12px;
    border: 1px solid #111111;
    border-radius: 4.8px;
    outline: none;
    color: #333;
    margin-left: 1vw;
  }
  #name-input7 {
    width: 50vw;
    padding: 12px;
    border: 1px solid #111111;
    border-radius: 4.8px;
    outline: none;
    color: #333;
    margin-left: 26.5vw;
  }
  #p9{
    margin-top: 1vh;
    margin-left: 26.5vw;
  }
  #p10{
    margin-top: 1vh;
    margin-left: 26.5vw;
  }
   #mensagem-textarea {
    width: 50vw;
    height: 20vh;
    padding: 12px;
    border: 1px solid #111111;
    border-radius: 4.8px;
    outline: none;
    color: #333;
    margin-left: 26.5vw;
  }
  #btn_enviar{
    margin-left: 26.5vw;
    background-color: #0c2e40;
    border: none;
    width: 15vw;
    height: 6vh;
    color: white;
    border-radius: 4px;
    margin-bottom: 5vh;
  }
  #btn_enviar:hover{
    color: #0c2e40;
    background-color: white;
    border: 1px solid #0c2e40;
    cursor: pointer;
  }

 footer{
    height: 25vh;
    background-color: #0c2e40;    
}
#div1_footer{
    display: flex;
}
#div2_footer{
    display: flex;
}
#img_footer{
    margin-top: 0vh;
}
#img_footer_2{
    margin-top: 0.3vh;
}
#img_footer_3{
    margin-top: 0.15vh;
}
#button_footer{
    background-color: #ffc300;
    color: #4d697e;
    font-size: 15px;
    font-weight: 15px;
    margin-left: 69vw;
    margin-top: 4vh;
    width: 10vw;
    height: 6vh;
    border-color: #ffc300;
    border-style: solid;
    border-radius: 4px;
}
#button_footer:hover{
    background-color: #0c2e40;
    color: #ffc300;
    transition: color 0.3s;
    transition: 0.2s;
}
#enfeite_footer{
    width: 95vw;
    height: 0.2vh;
    background-color: white;
    margin-top: 5vh;
    margin-left: 2vw;
}
#direitos_reservados{
    color: #4d697e;
    font-size: 12px;
    line-height: 12px;
    margin-top: 3vh;
    margin-left: 2vw;
}
#rafael_ferr{
    color: #4d697e;
    font-size: 12px;
    line-height: 12px;
    margin-top: 3vh;
    margin-left: 58.9vw;
}