*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Lato, sans-serif;
}
header{
    background-color: #03979d;
    height: 4.75vh;
}
#header_button{
    background-color: #0c2e40;
    color: white;
    position: absolute;
    width: 10vw;
    height: 4.75vh;
    left: 88vw;
    border: none;
}
#pre_nav{
    background-color: #00000011;
    height: 25.5vh;
}
#logoAndName{
    position: absolute;
    height: 26vh;
    left: 6vw;
    top: 4.3vh;
}
#name_pre_nav{
    position: absolute;
    left: 27vw;
    top: 14vh;
    font-size: 4.5vh;
    width: 41vw;
    color: #0c2e40;
    font-family: "fibra one", sans-serif;
    line-height: 44px;
}
#bandeira_brasil{
    position: absolute;
    left: 85vw;
    top: 13vh;
}
.nav-top{
    background-color: #0c2e40;
    height: 60px; 
}
.nav-fixed {
    position: fixed;
    background-color: #0c2e40;
    width: 100%;
    height: 60px;
    top: 0vh;
    z-index: 10000;
}
#button_media{
    display: none;
    margin-top: 1vh;
    border: none;
    background-color: #0c2e40;
}
#ul_nav {
    display: flex;
    position: absolute;
    left: 6vw;
}
.li {
    display: flex;
    font-size: 1.5vh;
    height: 60px;
}
.search-input{
    display: none;
}
.search-button{
    display: none;
}
.li:hover {
    background-color: white;
}
a {
    text-decoration: none; 
    color: white;
    margin: 20px;
}
#li_1:hover #inverseVNav_1,
#li_2:hover #inverseVNav_2,
#li_3:hover #inverseVNav_3,
#li_4:hover #inverseVNav_4,
#li_5:hover #inverseVNav_5 {
    stroke: black;
}
#li_1:hover a,
#li_2:hover a,
#li_3:hover a,
#li_4:hover a,
#li_5:hover a,
#li_6:hover a,
#li_7:hover a {
    color: black;
}
.active {
    background-color: white !important;
}
.active a {
    color: black !important;
}
.inverse-active {
    stroke: black !important;
}
.button_nav {
    background-color: #0c2e40;
    color: white;
    position: relative;
    width: 10vw;
    height: 45px;
    left: 84vw;
    top: 8px;
    font-size: 1.5vh;
    border-style: solid;
    border-color: white;
    border-radius: 3px;
    border-width: 1px;
}
.button_nav:hover {
    background-color: white;
    color: black;
    transition: color 0.3s;
}
.button_nav_fixed{
    background-color: #0c2e40;
    color: white;
    position: fixed;
    width: 10vw;
    height: 45px;
    left: 84vw;
    top: 8px;
    font-size: 1.5vh;
    border-style: solid;
    border-color: white;
    border-radius: 3px;
    border-width: 1px;
}
.button_nav_fixed:hover {
    background-color: white;
    color: black;
    transition: color 0.3s;
}
#title{
    height: 40vh;
    background: linear-gradient(170deg, white, #00000011);
}
#img_title{
    position: absolute;
    height: 40vh;
    width: 40vw;
    left: 58.85vw;
    background-size: cover;
    clip-path: polygon(25% 0, 100% 0, 100% 100%, 0 100%);
}
#h2_title{
    color: #0c2e40;
    position: absolute;
    top: 60vh;
    left: 8vw;
}
#explicacao{
    height: 55vh;
}
#p_explicacao{
    position: absolute; 
    left: 8vw; 
    top: 82vh; 
    width: 45vw; 
    color:#0c2e40; 
    line-height: 24px;
    text-align: justify;
}
#programa_logo{
    position: absolute;
    top: 90vh;
    left: 62.5vw;
    width: 12vw;
}
#programa_minhaCasa{
    position: absolute;
    top: 90vh;
    left: 77vw;
    width: 9vw;
}
#programa_caixa{
    position: absolute;
    top: 113vh;
    left: 69vw;
    width: 12vw;
}
#estrutura{
    height: 150vh;
    background-color: #00000011;
}
#img_estrutura{
    position: absolute;
    height: 150vh;
    width: 32.5vw;
    left: 66.35vw;
}
#h1_estrutura{
    position: absolute;
    font-size: 35.2px;
    line-height: 35.2px;
    left: 7vw;
    top: 134vh;
    color: #0c2e40;
}
#p_estrutura{
    font-size: 12.8px;
    line-height: 19.2px;
    text-align: justify;
    position: absolute;
    width: 49vw;
    left: 7vw;
    top: 142vh;  
    color: #2b2b2b;
}
#box_central_estrutura{
    position: absolute;
    left: 7vw;
    top: 157vh;
    width: 55vw;
    height: 100vh;
}
#box1_estrutura{
    position: absolute;
    left: 0vw;
    top: 0vh;
    width: 27.5vw;
    height: 50vh;
}
#box2_estrutura{
    position: absolute;
    left: 27.5vw;
    top: 0vh;
    width: 27.5vw;
    height: 50vh;
}
#box3_estrutura{
    position: absolute;
    left: 0vw;
    top: 50vh;
    width: 27.5vw;
    height: 50vh;
}
#box4_estrutura{
    position: absolute;
    left: 27.5vw;
    top: 50vh;
    width: 27.5vw;
    height: 50vh;
}
.h3_box_estrutura{
    color: #252525;
}
.p_box_estrutura{
    font-size: 12.8px;
    line-height: 19.2px;
    position: absolute;
    top: 6vh;
    width: 20vw;
    text-align: justify;
    position: absolute;
    color: #2b2b2b;
}
#a_estrutura{
    color: #0c2e40;
    font-size: 16px;
    line-height: 16px;
    font-weight: 600;
    text-decoration: underline;
    position: absolute;
    top: 262.5vh;
    left: 5.5vw;
}
#historico{
    height: 145vh;
}
#h1_historico{
    position: absolute;
    top: 280vh;
    left: 45vw;
    line-height: 32px;
    color: #0c2e40;
}
#barra_historico{
    position: absolute;
    top: 290vh;
    left: 33vw;
    height: 100vh;
}
.circulo_historico{
    width: 17.5px;
    height: 17.5px;
    background-color: #F4C000;
    border-radius: 50%;
    margin-left: 20px;
    margin-top: 2px;
    z-index: 1000;
}
#enfeite_barra_historico{
    background-color: rgba(0, 0, 0, 0.270);
    width: 2px;
    height: 124.8vh;
    position: absolute;
    left: 5.4vw;
    top: -1vh;
}
#h3_barra_historico_1{
    display: flex;
    color: #0c2e40;
    font-size: 19.2px;
    line-height: 19.2px;
    margin-top: 1.9vh;
    margin-bottom: 5.5vh;
}
#h3_barra_historico_2{
    display: flex;
    color: #0c2e40;
    font-size: 19.2px;
    line-height: 19.2px;
    margin-bottom: 5.5vh;
}
#h3_barra_historico_3{
    display: flex;
    color: #0c2e40;
    font-size: 19.2px;
    line-height: 19.2px;
    margin-bottom: 5.7vh;
}
#h3_barra_historico_4{
    display: flex;
    color: #0c2e40;
    font-size: 19.2px;
    line-height: 19.2px;
    margin-top: 1vh;
    margin-bottom: 5.7vh;
}
#h3_barra_historico_5{
    display: flex;
    color: #0c2e40;
    font-size: 19.2px;
    line-height: 19.2px;
    margin-bottom: 5.5vh;
}
#h3_barra_historico_6{
    display: flex;
    color: #0c2e40;
    font-size: 19.2px;
    line-height: 19.2px;
    margin-bottom: 5.8vh;
}
#h3_barra_historico_7{
    display: flex;
    color: #0c2e40;
    font-size: 19.2px;
    line-height: 19.2px;
    margin-bottom: 5.35vh;
}
#h3_barra_historico_8{
    display: flex;
    color: #0c2e40;
    font-size: 19.2px;
    line-height: 19.2px;
    margin-bottom: 5.2vh;
}
#h3_barra_historico_9{
    display: flex;
    color: #0c2e40;
    font-size: 19.2px;
    line-height: 19.2px;
    margin-bottom: 5.9vh;
}
#h3_barra_historico_10{
    display: flex;
    color: #0c2e40;
    font-size: 19.2px;
    line-height: 19.2px;
    margin-bottom: 5.9vh;
}
#h3_barra_historico_11{
    display: flex;
    color: #0c2e40;
    font-size: 19.2px;
    line-height: 19.2px;
    margin-bottom: 5.8vh;
}
#h3_barra_historico_12{
    display: flex;
    color: #0c2e40;
    font-size: 19.2px;
    line-height: 19.2px;
    margin-bottom: 5.3vh;
}
#h3_barra_historico_13{
    display: flex;
    color: #0c2e40;
    font-size: 19.2px;
    line-height: 19.2px;
    margin-bottom: 6vh;
}
#h3_barra_historico_14{
    display: flex;
    color: #0c2e40;
    font-size: 19.2px;
    line-height: 19.2px;
    margin-bottom: 5.4vh;
}
#h3_barra_historico_15{
    display: flex;
    color: #0c2e40;
    font-size: 19.2px;
    line-height: 19.2px;
}
#barra_conteudo_historico{
    position: absolute;
    top: 289vh;
    left: 40.5vw;
    height: 124.5vh; 
    width: 37vw;
}
#h4_title1_historico{
    font-size: 16px;
    line-height: 16px;
    color: #252525;
    margin-top: 3vh;
    margin-left: 2.5vw;
}
#button_title1_historico{
    border: none;
    background-color: white;
    font-size: 35px;
    color: #252525;
    margin-left: 26.5vw;
}
#h4_title2_historico{
    font-size: 16px;
    line-height: 16px;
    color: #252525;
    margin-top: 3vh;
    margin-left: 2.5vw;
}
#button_title2_historico{
    margin-left: 23vw;
    border: none;
    background-color: white;
    font-size: 35px;
    color: #252525;
}
#h4_title3_historico{
    font-size: 16px;
    line-height: 16px;
    color: #252525;
    margin-top: 3vh;
    margin-left: 2.5vw;
}
#button_title3_historico{
    margin-left: 24.5vw;
    border: none;
    background-color: white;
    font-size: 35px;
    color: #252525;
}
#h4_title4_historico{
    font-size: 16px;
    line-height: 16px;
    margin-top: 3vh;
    margin-left: 2.5vw;
    color: #252525;
}
#button_title4_historico{
    margin-left: 21.2vw;
    border: none;
    background-color: white;
    font-size: 35px;
    color: #252525;
}
#h4_title5_historico{
    margin-top: 3vh;
    margin-left: 2.5vw;
    color: #252525;
    left: 2.5vw;
    top: 36vh;
}
#button_title5_historico{
    margin-left: 23vw;  
    border: none;
    background-color: white;
    font-size: 35px;
    color: #252525;
}
#h4_title6_historico{
    font-size: 16px;
    line-height: 16px;
    margin-top: 3vh;
    margin-left: 2.5vw;
    color: #252525;
}
#button_title6_historico{
    margin-left: 22.8vw;
    border: none;
    background-color: white;
    font-size: 35px;
    color: #252525;
}
#h4_title7_historico{
    font-size: 16px;
    line-height: 16px;
    color: #252525;
    margin-top: 3vh;
    margin-left: 2.5vw;
}
#button_title7_historico{
    margin-left: 24.9vw;
    border: none;
    background-color: white;
    font-size: 35px;
    color: #252525;
}
#h4_title8_historico{
    font-size: 16px;
    line-height: 16px;
    color: #252525;
    margin-top: 2.4vh;
    margin-left: 2.5vw;
}
#button_title8_historico{
    margin-left: 18.2vw;
    border: none;
    background-color: white;
    font-size: 35px;
    color: #252525;
}
#h4_title9_historico{
    font-size: 16px;
    line-height: 16px;
    color: #252525;
    margin-top: 2.5vh;
    margin-left: 2.5vw;
}
#button_title9_historico{
    margin-left: 11vw;
    border: none;
    background-color: white;
    font-size: 35px;
    color: #252525;
}
#h4_title10_historico{
    font-size: 16px;
    line-height: 16px;
    color: #252525;
    margin-top: 3vh;
    margin-left: 2.5vw;
}
#button_title10_historico{
    margin-left: 21.2vw;
    border: none;
    background-color: white;
    font-size: 35px;
    color: #252525;
}
#h4_title11_historico{
    font-size: 16px;
    line-height: 16px;
    color: #252525;
    margin-top: 3vh;
    margin-left: 2.5vw;
}
#button_title11_historico{
    margin-left: 21.6vw;
    border: none;
    background-color: white;
    font-size: 35px;
    color: #252525;
}
#h4_title12_historico{
    font-size: 16px;
    line-height: 16px;
    color: #252525;
    margin-top: 3vh;
    margin-left: 2.5vw;
}
#button_title12_historico{
    margin-left: 22.3vw;
    border: none;
    background-color: white;
    font-size: 35px;
    color: #252525;
}
#h4_title13_historico{
    font-size: 16px;
    line-height: 16px;
    color: #252525;
    margin-top: 3vh;
    margin-left: 2.5vw;
}
#button_title13_historico{
    margin-left: 16.6vw;
    border: none;
    background-color: white;
    font-size: 35px;
    color: #252525;
}
#h4_title14_historico{
    font-size: 16px;
    line-height: 16px;
    color: #252525;
    margin-top: 3vh;
    margin-left: 2.5vw;
}
#button_title14_historico{
    margin-left: 17.6vw;
    border: none;
    background-color: white;
    font-size: 35px;
    color: #252525;
}
#h4_title15_historico{
    font-size: 16px;
    line-height: 16px;
    color: #252525;
    margin-top: 3vh;
    margin-left: 2.5vw;
}
#button_title15_historico{
    margin-left: 19.3vw;
    border: none;
    background-color: white;
    font-size: 35px;
    color: #252525;
}

#title1_historico{
    display: flex;
    border-color:  rgba(0, 0, 0, 0.13);
    border-style: solid;
    border-width: 1px;
    width: 37vw;
    height: 8vh;
}
#conteudo1_historico{
    border-color:  rgba(0, 0, 0, 0.13);
    border-style: solid;
    border-width: 1px;
    display: flex;
}
#conteudo1_ofc{
    display: none;
    font-size: 12.8px;
    line-height: 19.2px;
    width: 25vw;
    color: #252525;
    margin: 1vw;
}
#conteudo2_ofc {
    display: none;
    font-size: 12.8px;
    line-height: 19.2px;
    width: 25vw;
    color: #252525;
    margin: 1vw;
}

#conteudo3_ofc {
    display: none;
    font-size: 12.8px;
    line-height: 19.2px;
    width: 25vw;
    color: #252525;
    margin: 1vw;
}

#conteudo4_ofc {
    display: none;
    font-size: 12.8px;
    line-height: 19.2px;
    width: 30vw;
    color: #252525;
    margin: 0vw;
}

#conteudo5_ofc {
    display: none;
    font-size: 12.8px;
    line-height: 19.2px;
    width: 25vw;
    color: #252525;
    margin: 1vw;
}

#conteudo6_ofc {
    display: none;
    font-size: 12.8px;
    line-height: 19.2px;
    width: 25vw;
    color: #252525;
    margin: 1vw;
}

#conteudo7_ofc {
    display: none;
    font-size: 12.8px;
    line-height: 19.2px;
    width: 25vw;
    color: #252525;
    margin: 1vw;
}

#conteudo8_ofc {
    display: none;
    font-size: 12.8px;
    line-height: 19.2px;
    width: 25vw;
    color: #252525;
    margin: 1vw;
}

#conteudo9_ofc {
    display: none;
    font-size: 12.8px;
    line-height: 19.2px;
    width: 30vw;
    color: #252525;
    margin: 1vw;
}

#conteudo10_ofc {
    display: none;
    font-size: 12.8px;
    line-height: 19.2px;
    width: 25vw;
    color: #252525;
    margin: 1vw;
}

#conteudo11_ofc {
    display: none;
    font-size: 12.8px;
    line-height: 19.2px;
    width: 25vw;
    color: #252525;
    margin: 1vw;
}

#conteudo12_ofc {
    display: none;
    font-size: 12.8px;
    line-height: 19.2px;
    width: 25vw;
    color: #252525;
    margin: 1vw;
}

#conteudo13_ofc {
    display: none;
    font-size: 12.8px;
    line-height: 19.2px;
    width: 29vw;
    color: #252525;
    margin: 1vw;
}

#conteudo14_ofc {
    display: none;
    font-size: 12.8px;
    line-height: 19.2px;
    width: 25vw;
    color: #252525;
    margin: 1vw;
}

#conteudo15_ofc {
    display: none;
    font-size: 12.8px;
    line-height: 19.2px;
    width: 25vw;
    color: #252525;
    margin: 1vw;
}

#title2_historico{
    border-color:  rgba(0, 0, 0, 0.13);
    border-style: solid;
    border-width: 1px;
    width: 37vw;
    height: 8vh;
    display: flex;
}
#conteudo2_historico{
    border-color:  rgba(0, 0, 0, 0.13);
    border-style: solid;
    border-width: 1px;
    display: flex;
}
#title3_historico{
    border-color:  rgba(0, 0, 0, 0.13);
    border-style: solid;
    border-width: 1px;
    width: 37vw;
    height: 8vh;
    display: flex;
}
#conteudo3_historico{
    border-color:  rgba(0, 0, 0, 0.13);
    border-style: solid;
    border-width: 1px; 
    display: flex;
}
#title4_historico{
    border-color:  rgba(0, 0, 0, 0.13);
    border-style: solid;
    border-width: 1px;
    width: 37vw;
    height: 8vh;
    display: flex;
}
#conteudo4_historico{
    border-color:  rgba(0, 0, 0, 0.13);
    border-style: solid;
    border-width: 1px;
    display: flex;
}
#title5_historico{
    border-color:  rgba(0, 0, 0, 0.13);
    border-style: solid;
    border-width: 1px;
    width: 37vw;
    height: 8vh;
    display: flex;
}
#conteudo5_historico{
    border-color:  rgba(0, 0, 0, 0.13);
    border-style: solid;
    border-width: 1px;
    display: flex;
}
#title6_historico{
    border-color:  rgba(0, 0, 0, 0.13);
    border-style: solid;
    border-width: 1px;
    width: 37vw;
    height: 8vh;
    display: flex;
}
#conteudo6_historico{
    border-color:  rgba(0, 0, 0, 0.13);
    border-style: solid;
    border-width: 1px;
    display: flex;
}
#title7_historico{
    border-color:  rgba(0, 0, 0, 0.13);
    border-style: solid;
    border-width: 1px;
    width: 37vw;
    height: 8vh;
    display: flex;
}
#conteudo7_historico{
    border-color:  rgba(0, 0, 0, 0.13);
    border-style: solid;
    border-width: 1px;
    display: flex;
}
#title8_historico{
    border-color:  rgba(0, 0, 0, 0.13);
    border-style: solid;
    border-width: 1px;
    width: 37vw;
    height: 8vh;
    display: flex;
}
#conteudo8_historico{
    border-color:  rgba(0, 0, 0, 0.13);
    border-style: solid;
    border-width: 1px;
    display: flex;
}
#title9_historico{
    border-color:  rgba(0, 0, 0, 0.13);
    border-style: solid;
    border-width: 1px;
    width: 37vw;
    height: 8vh;
    display: flex;
}
#conteudo9_historico{
    border-color:  rgba(0, 0, 0, 0.13);
    border-style: solid;
    border-width: 1px;
    display: flex;
}
#title10_historico{
    border-color:  rgba(0, 0, 0, 0.13);
    border-style: solid;
    border-width: 1px;
    width: 37vw;
    height: 8vh;
    display: flex;
}
#conteudo10_historico{
    border-color:  rgba(0, 0, 0, 0.13);
    border-style: solid;
    border-width: 1px;
    display: flex;
}
#title11_historico{
    border-color:  rgba(0, 0, 0, 0.13);
    border-style: solid;
    border-width: 1px;
    width: 37vw;
    height: 8vh;
    display: flex;
}
#conteudo11_historico{
    border-color:  rgba(0, 0, 0, 0.13);
    border-style: solid;
    border-width: 1px;
    display: flex; 
}
#title12_historico{
    border-color:  rgba(0, 0, 0, 0.13);
    border-style: solid;
    border-width: 1px;
    width: 37vw;
    height: 8vh;
    display: flex;
}
#conteudo12_historico{
    border-color:  rgba(0, 0, 0, 0.13);
    border-style: solid;
    border-width: 1px;
    display: flex;
}
#title13_historico{
    border-color:  rgba(0, 0, 0, 0.13);
    border-style: solid;
    border-width: 1px;
    width: 37vw;
    height: 8vh;
    display: flex;
}
#conteudo13_historico{
    border-color:  rgba(0, 0, 0, 0.13);
    border-style: solid;
    border-width: 1px;
    display: flex; 
}
#title14_historico{
    border-color:  rgba(0, 0, 0, 0.13);
    border-style: solid;
    border-width: 1px;
    width: 37vw;
    height: 8vh;
    display: flex;
}
#conteudo14_historico{
    border-color:  rgba(0, 0, 0, 0.13);
    border-style: solid;
    border-width: 1px;
    display: flex;
}
#title15_historico{
    border-color:  rgba(0, 0, 0, 0.13);
    border-style: solid;
    border-width: 1px;
    width: 37vw;
    height: 8vh;
    display: flex;
}
#conteudo15_historico{
    border-color:  rgba(0, 0, 0, 0.13);
    border-style: solid;
    border-width: 1px;
    display: flex;
}
footer{
    height: 25vh;
    background-color: #0c2e40;    
}
#div1_footer{
    display: flex;
}
#div2_footer{
    display: flex;
}
#img_footer{
    margin-top: 1vh;
}
#img_footer_2{
    margin-top: 1.3vh;
}
#img_footer_3{
    margin-top: 1.15vh;
}
#button_footer{
    background-color: #ffc300;
    color: #4d697e;
    font-size: 1.5vh;
    font-weight: 15px;
    margin-left: 74vw;
    margin-top: 2vh;
    width: 200px;
    height: 55px;
    border-color: #ffc300;
    border-style: solid;
    border-radius: 4px;
}
#button_footer:hover{
    background-color: #0c2e40;
    color: #ffc300;
    transition: color 0.3s;
    transition: 0.2s;
}
#enfeite_footer{
    width: 93vw;
    height: 0.2vh;
    background-color: white;
    margin-top: 5vh;
    margin-left: 2vw;
}
#direitos_reservados{
    color: #4d697e;
    font-size: 1.5vh;
    line-height: 12px;
    margin-top: 3vh;
    margin-left: 2vw;
}
#rafael_ferr{
    color: #4d697e;
    font-size: 1.5vh;
    line-height: 12px;
    margin-top: 3vh;
    margin-left: 60vw;
}