*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Lato, sans-serif;
}
header{
    background-color: #03979d;
    height: 4.75vh;
}
#header_button{
    background-color: #0c2e40;
    color: white;
    position: absolute;
    width: 10vw;
    height: 4.75vh;
    left: 88vw;
    border: none;
}
#pre_nav{
    background-color: #00000011;
    height: 25.5vh;
}
#logoAndName{
    position: absolute;
    height: 26vh;
    left: 6vw;
    top: 4.3vh;
}
#name_pre_nav{
    position: absolute;
    left: 27vw;
    top: 14vh;
    font-size: 4.5vh;
    width: 41vw;
    color: #0c2e40;
    font-family: "fibra one", sans-serif;
    line-height: 44px;
}
#bandeira_brasil{
    position: absolute;
    left: 85vw;
    top: 13vh;
}
.nav-top{
    background-color: #0c2e40;
    height: 60px; 
}
.nav-fixed {
    position: fixed;
    background-color: #0c2e40;
    width: 100%;
    height: 60px;
    top: 0vh;
    z-index: 10000;
}
#button_media{
    display: none;
    margin-top: 1vh;
    border: none;
    background-color: #0c2e40;
}
#ul_nav {
    display: flex;
    position: absolute;
    left: 6vw;
}
.li {
    display: flex;
    font-size: 1.5vh;
    height: 60px;
}
.search-input{
    display: none;
}
.search-button{
    display: none;
}
.li:hover {
    background-color: white;
}
a {
    text-decoration: none; 
    color: white;
    margin: 20px;
}
#li_1:hover #inverseVNav_1,
#li_2:hover #inverseVNav_2,
#li_3:hover #inverseVNav_3,
#li_4:hover #inverseVNav_4,
#li_5:hover #inverseVNav_5 {
    stroke: black;
}
#li_1:hover a,
#li_2:hover a,
#li_3:hover a,
#li_4:hover a,
#li_5:hover a,
#li_6:hover a,
#li_7:hover a {
    color: black;
}
.active {
    background-color: white !important;
}
.active a {
    color: black !important;
}
.inverse-active {
    stroke: black !important;
}
.button_nav {
    background-color: #0c2e40;
    color: white;
    position: relative;
    width: 10vw;
    height: 45px;
    left: 84vw;
    top: 8px;
    font-size: 1.5vh;
    border-style: solid;
    border-color: white;
    border-radius: 3px;
    border-width: 1px;
}
.button_nav:hover {
    background-color: white;
    color: black;
    transition: color 0.3s;
}
.button_nav_fixed{
    background-color: #0c2e40;
    color: white;
    position: fixed;
    width: 10vw;
    height: 45px;
    left: 84vw;
    top: 8px;
    font-size: 1.5vh;
    border-style: solid;
    border-color: white;
    border-radius: 3px;
    border-width: 1px;
}
.button_nav_fixed:hover {
    background-color: white;
    color: black;
    transition: color 0.3s;
}
#img_noticias_nav{
    background-color: #03979d;
    width: 100%;
    height: 45vh;
}
#participar{
    height: 42vh;
    background: linear-gradient(170deg, white, #00000011);
}
#title_participar{
    color: #0c2e40;
    position: absolute;
    top: 64vh;
    left: 6vw;
}
#img_participar{
    position: absolute;
    height: 42vh;
    width: 40vw;
    right: 0vh;
    background-size: cover;
    clip-path: polygon(25% 0, 100% 0, 100% 100%, 0 100%);
}
#explicacao{
    height: 55vh;
    border-bottom-color: rgba(0, 0, 0, 0.233);
    border-bottom-style: solid;
    border-bottom-width: 0.5px;
}
.explicacao_text{
    width: 58vw; 
    color:#0c2e40; 
    line-height: 24px;
    text-align: justify;
    margin-top: 7vh;
    margin-left: 7vw;
}
#razoes{
    height: 100vh;
    display: flex;
}
#nav_razoes{
    background-color: #4d697eea;
    height: 90%;
    width: 45%;
    margin-top: 5vh;
}
.box{
    height: 15%;
    border-bottom: 1px solid white;
}
.flex_razoes{
    display: flex;
}
.img_razoes{
    margin-top: 4vh;
    margin-left: 5vw;
}

.h3_razoes{
    margin-top: 5.65vh;
    margin-left: 0vw;
    color: #f0f0f0;
}
.p_razoes{
    display: none;
    margin-top: 8vh;
    margin-left: 5.8vw;
    width: 38vw;
    font-size: 16px;
    line-height: 24px;
    color: #f0f0f0;
}
.p1_razoes{
    display: block;
    margin-top: 8vh;
    margin-left: 5.8vw;
    width: 38vw;
    font-size: 16px;
    line-height: 24px;
    color: #f0f0f0;
}
.iniciado{
    height: 40%;
    border-bottom: 1px solid white;
}
#conteudo_razoes{
    display: flex;
    height: 90%;
    width: 45%;
    margin-top: 5vh;
    margin-left: 10vh;  
}
#contents1{
    height: 80%;
    width: 49%;
    border-right: 1px solid rgba(0, 0, 0, 0.432);
    margin-top: 7vh;
}
#contents2{
    margin-top: 7vh;
    height: 80%;
    width: 49%;
    margin-left: 2vw;
}
.h2_contents{
    color: #0c2e40;
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 5vh;
}
.p_contents{
    margin-bottom: 18vh;
    font-size: 12.8px;
    line-height: 19.2px;
    color: #252525;
}
.enfeite_contents{
    width: 1.5vw;
    height: 2px;
    background-color: #0c2e40;
    margin-top: 3vh;
}
#a_estrutura{
    color: #0c2e40;
    font-size: 16px;
    line-height: 16px;
    font-weight: 600;
    text-decoration: underline;
    margin-top: 90vh;
    margin-left: -45vw;
}
footer{
    height: 25vh;
    background-color: #0c2e40;    
}
#div1_footer{
    display: flex;
}
#div2_footer{
    display: flex;
}
#img_footer{
    margin-top: 1vh;
}
#img_footer_2{
    margin-top: 1.3vh;
}
#img_footer_3{
    margin-top: 1.15vh;
}
#button_footer{
    background-color: #ffc300;
    color: #4d697e;
    font-size: 1.5vh;
    font-weight: 15px;
    margin-left: 74vw;
    margin-top: 2vh;
    width: 200px;
    height: 55px;
    border-color: #ffc300;
    border-style: solid;
    border-radius: 4px;
}
#button_footer:hover{
    background-color: #0c2e40;
    color: #ffc300;
    transition: color 0.3s;
    transition: 0.2s;
}
#enfeite_footer{
    width: 93vw;
    height: 0.2vh;
    background-color: white;
    margin-top: 5vh;
    margin-left: 2vw;
}
#direitos_reservados{
    color: #4d697e;
    font-size: 1.5vh;
    line-height: 12px;
    margin-top: 3vh;
    margin-left: 2vw;
}
#rafael_ferr{
    color: #4d697e;
    font-size: 1.5vh;
    line-height: 12px;
    margin-top: 3vh;
    margin-left: 60vw;
}
@media (max-width: 768px){
    html, body {
        overflow-x: hidden;
    }
    header{
        display: none;
    }
    #bandeira_brasil{
        display: none;
    }
    #logoAndName{
        width: 30vw;
        height: 10vh;
        top: 2.5vh;
        left: 2vw;
    }
    #name_pre_nav{
        width: 62vw;
        font-size: 20px;
        line-height: 19px;
        top: 4.5vh;
        left: 35vw;
    }
    #pre_nav{
        height: 15vh;
    }
    .nav-top{
        height: 7vh;
    }
    #ul_nav{
       display: none;
       background-color: #E4E4E4;
       left: 0vh;
       width: 100%;
       height: 45%;
       margin-top: -1vh;
       z-index: 1000;
    }
    .li{
        height: 5vh;
        background-color: #E4E4E4;
    }
    .li:hover {
        border-bottom: 1px solid #0c2e40;
    }
    .li a{
        color: black;
    }
    #inverseVNav_1 {
        stroke: black;
    }
    #inverseVNav_2 {
        stroke: black;
    }
    #inverseVNav_3 {
        stroke: black;
    }
    #inverseVNav_4 {
        stroke: black;
    }
    #inverseVNav_5 {
        stroke: black;
    }
    #button_media{
        display: inline;
    }
    .search-input {
    display: inline;
    width: 90%;
    margin-left: 5vw;
    margin-top: 2vh;
    height: 3vh;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
    outline: none;
    }

    .search-input::placeholder {
        color: #ccc;
    }

    .search-button {
        display: inline;
        transform: translateY(-50%);
        margin-top: -235vh;
        border: none;
        background: none;
        cursor: pointer;
        margin-left: 88vw;
    }
    .search-button svg {
        fill: #333;
    }

    .search-button:focus {
        outline: none;
    }
    .button_nav{
     position:relative;
     top: -2vh;
     width: 27vw;
     height: 5vh;
     left: 58vw;
    }
    .button_nav_fixed{
        width: 30vw;
        left: 64vw;
    }







    footer{
        height: 40vh;
    }
    #button_footer{
        margin-left: -55.5vw;
        margin-top: 7vh;
    }
    #img_footer{
        margin-left: 18vw;
        margin-top: 16.1vh;
        width: 5vh;
    }
    #img_footer_2{
        margin-top: 16.3vh;
        width: 5vh;
    }
    #img_footer_3{
        margin-top: 16.15vh;
        width: 5vh;
    }
    #div2_footer{
        display: block;
    }
    #rafael_ferr{
        color: #4d697e;
        font-size: 1.5vh;
        line-height: 12px;
        margin-top: 1vh;
        margin-left:3vw;
    }
}