*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Lato, sans-serif;
    overflow-x: hidden;
}
header{
    background-color: #03979d;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#centerHeader{
    width: 1366px;
    height: 30px;
}
#header_button{
    background-color: #0c2e40;
    color: white;
    position: relative;
    width: 120px;
    height: 30px;
    margin-left: 1204px;
    border: none;
}
#centerPrenav{
    display: flex;
    width: 1366px;
    height: 179px;
}
#pre_nav{
    background-color: #00000011;
    height: 179px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#logoAndName{
    position: relative;
    width: 204px;
    height: 157px;
    top: -10px;
    left: 95px;

}
#name_pre_nav{
    position: relative;
    top: 49px;
    left: 105px;
    width: 480px;
    height: 82px;
    text-align: left;
    font: normal normal bold 32px/42px ZapfHumnst BT;
    letter-spacing: 0px;
    color: #0c2e40;
    opacity: 1;
}
#bandeira_brasil{
    position: relative;
    top: 39px;
    left:470px;
    width: 151px;
    height: 101px;
}
#centerNav{
    width: 1366px;
    height: 60px;
}
.nav-top{
    background-color: #0c2e40;
    height: 60px; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-fixed {
    position: fixed;
    background-color: #0c2e40;
    height: 60px;
    top: 0vh;
    width: 100%;
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center;
}
#button_media{
    display: none;
    margin-top: 1vh;
    border: none;
    background-color: #0c2e40;
}
#ul_nav {
    display: flex;
    position: relative;
    left: 126px;
    width: 1060px;
}
.li {
    display: flex;
    font: normal normal normal 16px/19px Lato;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    height: 60px;
}
.search-input{
    display: none;
}
.search-button{
    display: none;
}
.li:hover {
    background-color: white;
}
#li_2{
    background-color: white;
}
#li_2 a{
    color: black;
}
#li_2 #inverseVNav_2{
    stroke: black;
}
a {
    text-decoration: none; 
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: left;
    font: normal normal normal 16px/19px Lato;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
#li_1:hover #inverseVNav_1,
#li_3:hover #inverseVNav_3,
#li_4:hover #inverseVNav_4,
#li_5:hover #inverseVNav_5 {
    stroke: black;
}
#li_1:hover a,
#li_3:hover a,
#li_4:hover a,
#li_5:hover a,
#li_6:hover a,
#li_7:hover a {
    color: black;
}
.active {
    background-color: white !important;
}
.active a {
    color: black !important;
}
.inverse-active {
    stroke: black !important;
}
.button_nav {
    background-color: #0c2e40;
    text-align: center;
    letter-spacing: 0px;
    color: white;
    opacity: 1;
    position: relative;
    width: 107px;
    height: 39px;
    top: -50px;
    left: 1100px;
    font: normal normal normal 16px/19px Lato;
    border-style: solid;
    border-color: white;
    border-radius: 3px;
    border-width: 1px;
}
.button_nav:hover {
    background-color: white;
    color: black;
    transition: color 0.3s;
}
.button_nav_fixed{
    background-color: #0c2e40;
    position: relative;
    width: 107px;
    height: 39px;
    top: -50px;
    left: 1100px;
    font: normal normal normal 16px/19px Lato;
    border-style: solid;
    border-color: white;
    border-radius: 3px;
    border-width: 1px;
}
.button_nav p{
    font: normal normal normal 16px/19px Lato;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
.button_nav_fixed p{
    font: normal normal normal 16px/19px Lato;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
.button_nav_fixed:hover {
    background-color: white;
    color: black;
    transition: color 0.3s;
}
#projetos{
    height: 254px;
    background: transparent linear-gradient(83deg, #F6F6F6 0%, #DEDEDE 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
#centerProjetos{
    width: 1366px;
    height: 254px;
    display: flex;
}
#title_projetos{
    top: 175px;
    left: 116px;
    width: 117px;
    height: 39px;
    position: relative;
    text-align: left;
    font: normal normal 600 32px/30px Lato;
    letter-spacing: 0px;
    color: #0c2e40;
    opacity: 1;

}
#img_projetos{
    position: relative;
    left:882px;
    width: 351px;
    height: 254px;
    background: transparent 0% 0% no-repeat padding-box cover;
    box-shadow: 0px 3px 25px #00000042;
    opacity: 1;
    clip-path: polygon(25% 0, 100% 0, 100% 100%, 0 100%);
}
#explicacao{
    height: 340px;
    border-bottom-color: rgba(0, 0, 0, 0.233);
    border-bottom-style: solid;
    border-bottom-width: 0.5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#centerExplicacao{
    width: 1366px;
    height: 340px;
}
#explicacao_text{
    position: relative;
    top: 47px;
    left: 116px;
    width: 658px;
    height: 246px;
    color: var(--unnamed-color-111111);
    text-align: left;
    font: normal normal normal 16px/24px Lato;
    letter-spacing: 0px;
    color: #0c2e40;
    opacity: 1;

}
#siac{
    height: 2200px;
    border-bottom-color: rgba(0, 0, 0, 0.233);
    border-bottom-style: solid;
    border-bottom-width: 0.5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#centerSiac{
    width: 1366px;
    height: 2200px;
}
.h1_siac1{
    margin-top: 54px;
    margin-left: 116px;
    width: 54px;
    height: 30px;
    text-align: left;
    font: normal normal medium 25px/30px Lato;
    letter-spacing: 0px;
    color: #03979d;
    text-transform: uppercase;
    opacity: 0.3;
}
.h1_siac2{
    margin-top: 10px;
    margin-left: 116px;
    width: 436px;
    height: 76px;
    text-align: left;
    font: normal normal 600 28px/34px Lato;
    letter-spacing: 0px;
    opacity: 1;
    color: #0c2e40;
}
.h5_siac1{
    margin-left: 116px;
    margin-top: 42px;
    width: 212px;
    height: 25px;
    text-align: left;
    font: normal normal 600 21px/25px Lato;
    letter-spacing: 0px;
    opacity: 1;
    color: #0c2e40;
}
.ps_siac{
    display: flex;
    margin-top: 25px;
    margin-left: 116px;
}
.p1_siac{
    width: 510px;
text-align: left;
font: normal normal normal 16px/25px Lato;
letter-spacing: 0px;
color: #0c2e40;
opacity: 1;
}
.p2_siac{
    margin-left: 70px;
        width: 510px;
text-align: left;
font: normal normal normal 16px/25px Lato;
letter-spacing: 0px;
color: #0c2e40;
opacity: 1;
}
.p_siac_2{
    font-size: 16px;
    width: 1113px;
    line-height: 24px;
    margin-top: 25px;
    margin-left: 116px;
    color: #0c2e40;
    text-align: left;
}
.boxer_boxers{
    margin-top: 60px;
    margin-left: 116px;
    width: 1113px;
    height: 500px;
    display: block; 
    overflow-x: auto;
}
.boxers_box{
    width: 1460px;
    display: flex;
}
.box_siac{
    width: 244px;
    height: 480px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #4D697E66;
    border-radius: 4px;
    opacity: 1;
}
.img_siac{
    width: 3vw;
    height: 6vh;
    margin-top: 20vh;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    transform: rotate(180deg);
}
.enfeite_box_siac{
    width: 244px;
    height: 80px;
    background: var(--unnamed-color-4d697e) 0% 0% no-repeat padding-box;
    background: #4D697E 0% 0% no-repeat padding-box;
    border-radius: 4px 4px 0px 0px;
    opacity: 1;
    display: flex;
}
.h3_box_siac{
    text-align: left;
    font: normal normal medium 15px/25px Lato;
    letter-spacing: 0px;
    color: #F0F0F0;
    opacity: 1;
    margin: 10px;
}
.p_box_siac{
    width: 173px;
    height: 182px;
    text-align: left;
    font: normal normal normal 16px/24px Lato;
    letter-spacing: 0px;
    color: #0c2e40;
    opacity: 1;
    margin: 16px;
}
.documentos_siac{
    margin-top: 100px;
    margin-left: 120px;
    width: 545px;
    height: 309px;
    background: transparent linear-gradient(85deg, #F2F2F2 0%, #E4E4E4 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 6px;
    opacity: 1;
}
.img_documentos{
    margin-top: -30px;
    margin-left: -40px;
}
.title_documentos{
    text-align: left;
    font: normal normal 600 20px/25px Lato;
    letter-spacing: 0px;
    color: #0c2e40;
    opacity: 1; 
    margin-top: -1px;
    font-weight: 600;
    margin-left: 43px;
}
.subTitle_documentos{
    text-align: left;
    font: normal normal normal 16px/25px Lato;
    letter-spacing: 0px;
    color: #0c2e40;
    opacity: 1;
    margin-top: 30px;
    margin-left: 43px;
}
.p_style_documentos{
    margin-top: 20px;
    margin-left: 43px;
    width: 401px;
    height: 19px;
    text-align: left;
    text-decoration: underline;
    font: normal normal normal 16px/25px Lato;
    letter-spacing: 0px;
    color: #0c2e40;
    opacity: 1;
}
.p_documentos{
    margin-top: 20px;
    margin-left: 43px;
    width: 480px;
    height: 19px;
    text-align: left;
    text-decoration: underline;
    font: normal normal normal 16px/25px Lato;
    letter-spacing: 0px;
    color: #0c2e40;
    opacity: 1;
}
#simac{
    height: 2400px;
    border-bottom-color: rgba(0, 0, 0, 0.233);
    border-bottom-style: solid;
    border-bottom-width: 0.5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#centerSimac{
    width: 1366px;
    height: 2400px;
}
#centerSinat{
    width: 1366px;
    height: 2350px;
}
.boxers_box_2{
    width: 1200px;
    margin-left: 120px;
    margin-top: 30px;
    display: flex;
}
.img_siac2{
    width: 60px;
    height: 60px;
    margin-top:200px;
    margin-left: 5px;
    margin-right: 5px;
}
#sinat{
    height: 2350px;
    border-bottom-color: rgba(0, 0, 0, 0.233);
    border-bottom-style: solid;
    border-bottom-width: 0.5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer{
    height: 216px;
    background-color: #0c2e40; 
    display: flex;
    justify-content: center;
    align-items: center;   
}
#centerFooter{
    width: 1366px;
    height: 216px;
}
#div1_footer{
    display: flex;
}
#div2_footer{
    display: flex;
}
#img_footer{
    margin-top: 5px;
    margin-left: 117px;
}
#img_footer_2{
    margin-top: 7px;
}
#img_footer_3{
    margin-top: 5.5px;
}
#button_footer{
    position: relative;
    top: 25px;
    left: 800px;
    width: 149px;
    height: 45px;
    border: none;
    background: #FFC300 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 4px;
    opacity: 1;
    font: normal normal medium 16px/25px Lato;
    letter-spacing: 0px;
    color: #4D697E;
    opacity: 1;
}
#button_footer:hover{
    background-color: #0c2e40;
    color: #ffc300;
    transition: color 0.3s;
    transition: 0.2s;
}
#enfeite_footer{
    position: relative;
    width: 1115px;
    height: 2px;
    background-color: #F0F0F0;
    opacity: 0.1;
    margin-top: 80px;
    margin-left: 132px;
}
#direitos_reservados{
    width: 600px;
    height: 16px;
    text-align: left;
    font: normal normal 300 13px/16px Lato;
    letter-spacing: 0px;
    color: #F0F0F0;
    opacity: 0.2;
    margin-top: 10px;
    margin-left: 135px;
}
#rafael_ferr{
    width: 174px;
    height: 16px;
    text-align: left;
    font: normal normal 300 13px/16px Lato;
    letter-spacing: 0px;
    color: #F0F0F0;
    opacity: 0.2;
    margin-top: 10px;
    margin-left: 356px;
}
@media (max-width: 768px){
    html, body {
        overflow-x: hidden;
    }
    header{
        display: none;
    }
    #bandeira_brasil{
        display: none;
    }
    #logoAndName{
        width: 30vw;
        height: 10vh;
        top: 2.5vh;
        left: 2vw;
    }
    #name_pre_nav{
        width: 62vw;
        font-size: 20px;
        line-height: 19px;
        top: 4.5vh;
        left: 35vw;
    }
    #pre_nav{
        height: 15vh;
    }
    .nav-top{
        height: 7vh;
    }
    #ul_nav{
       display: none;
       background-color: #E4E4E4;
       left: 0vh;
       width: 100%;
       height: 45%;
       margin-top: -1vh;
       z-index: 1000;
    }
    .li{
        height: 5vh;
        background-color: #E4E4E4;
    }
    .li:hover {
        border-bottom: 1px solid #0c2e40;
    }
    .li a{
        color: black;
    }
    #inverseVNav_1 {
        stroke: black;
    }
    #inverseVNav_2 {
        stroke: black;
    }
    #inverseVNav_3 {
        stroke: black;
    }
    #inverseVNav_4 {
        stroke: black;
    }
    #inverseVNav_5 {
        stroke: black;
    }
    #button_media{
        display: inline;
    }
    .search-input {
    display: inline;
    width: 90%;
    margin-left: 5vw;
    margin-top: 2vh;
    height: 3vh;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
    outline: none;
    }

    .search-input::placeholder {
        color: #ccc;
    }

    .search-button {
        display: inline;
        transform: translateY(-50%);
        margin-top: -235vh;
        border: none;
        background: none;
        cursor: pointer;
        margin-left: 88vw;
    }
    .search-button svg {
        fill: #333;
    }

    .search-button:focus {
        outline: none;
    }
    .button_nav{
     position:relative;
     top: -2vh;
     width: 27vw;
     height: 5vh;
     left: 58vw;
    }
    .button_nav_fixed{
        width: 30vw;
        left: 64vw;
    }
    #projetos{
        height: 138px;
        background: transparent linear-gradient(72deg, #F6F6F6 0%, #DEDEDE 100%) 0% 0% no-repeat padding-box;
    }
    #title_projetos{
        position: absolute;
        top: 32vh;
        left: 6vw;
    }
    #img_projetos{
    height: 138px;
    width: 25vw;
    }
    #explicacao_text{
    width: 85vw; 
    text-align: left;
    margin-top: 8vh;
    margin-left: 7vw;
    }
    #explicacao{
        height: 55vh;
    }
    #siac{
        height: 350vh;
    }
    .h1_siac1{
        margin-top: 7vh;
    }
    .h1_siac2{
        width: 85vw;
    }
    .h5_siac1{
        margin-top: 4vh;
        width: 55vw;
    }
    .ps_siac{
        display: block;
        margin-top: 4vh;
    }
    .p1_siac{
        width: 85vw;
        text-align: left;
    }
    .p2_siac{
        width: 85vw;
        text-align: left;
    }
    .p_siac_2{
        width: 85vw;
        text-align: left;
    }
    .boxer_boxers{
        margin-left: 5vw;
        width: 90vw;
        overflow-y: hidden;
    }
    .boxers_box{
        width: 320vw;
        display: flex;
    }
    .box_siac{
        width: 230px;
        height: 295px;
    }
    .img_siac{
        width: 5vw;
        height: 2vh;
        margin-top: 20vh;
        margin-left: 4vw;
        margin-right: 4vw;
        transform: rotate(180deg);
    }
    .documentos_siac{
        margin-left: 33px;
        width: 327px;
        height: 245px;
    }
    .img_documentos{
        margin-top: -6vh;
        margin-left: -12vw;
    }
    .title_documentos{
        margin-top: 2vh;
    }
    .subTitle_documentos{
        font-size: 12.2px;
        line-height: 19.8px;
        color: #252525;
        margin-top: 1vh;
        text-align: left;
    }
    .p_style_documentos{
        margin-top: 1vh;
        text-align: left;
    }
    .p_documentos{
        font-size: 10px;
        line-height: 10px;
        color: #252525;
        margin-top: 1vh;
        width: 65vw;
        text-align: left;
    }
    #simac{
        height: 370vh;
        border-bottom-color: rgba(0, 0, 0, 0.233);
        border-bottom-style: solid;
        border-bottom-width: 0.5px;
    }
    .box_mobile{
        margin-left: 1vw;
        width: 90vw;
        overflow-y: hidden;
        overflow-x: auto;
    }
    .boxers_box_2{
         width: 245vw;
        display: flex;
    }
    .img_siac2{
        width: 5vw;
        height: 2vh;
        margin-top: 20vh;
        margin-left: 4vw;
        margin-right: 4vw;
    }
    #sinat{
    height: 360vh;
    border-bottom-color: rgba(0, 0, 0, 0.233);
    border-bottom-style: solid;
    border-bottom-width: 0.5px;
}


    footer{
        height: 40vh;
    }
    #button_footer{
        margin-left: -55.5vw;
        margin-top: 7vh;
    }
    #img_footer{
        margin-left: 18vw;
        margin-top: 16.1vh;
        width: 5vh;
    }
    #img_footer_2{
        margin-top: 16.3vh;
        width: 5vh;
    }
    #img_footer_3{
        margin-top: 16.15vh;
        width: 5vh;
    }
    #div2_footer{
        display: block;
    }
    #rafael_ferr{
        color: #4d697e;
        font-size: 1.5vh;
        line-height: 12px;
        margin-top: 1vh;
        margin-left:3vw;
    }
}